[2013-08-22 15:09] offlinehacker opened #1 "OSError: [Errno 13] Permission denied: '/home/offlinehacker/.buildout/eggs' even with 7777 permissions"
[code]

Permisions are set OK, even if i set them to 7777 it just does not work. Do you know how to fix this? Thanks!

[2013-08-22 16:12] offlinehacker opened #2 "Why is building needed? This will be slow with more and more packages."
Can you explain reationale why packages need to be built before you can get all the dependecies and include this explanation in documentation, this might seem very confusing for other people.
At the same time when we get more packages it would take some real amounts of time to generate all the packages and it might be not fessible. How are you planing to solve this?

[2013-11-13 14:11] offlinehacker opened #4 "Integrate with pip-tools"
Well it works now, but i did not had time or will to commit it propery, so here is a branch with a blob :D Take a look in pkg_info.py on root and integrate PyNixResolver class in this project.

https://github.com/offlinehacker/pip-tools/tree/magic

[2014-07-18 07:45] codygman opened #5 "Example doesn't work"
% pip install pypi2nix
    % pypi2nix Plone --dists Plone --ignore Pillow --output plone.nix

Just gives me:

[code]

[2015-01-26 10:23] svanderburg opened #6 "Cannot generate Nix expressions because of SSL strictness"
Currently, I'm getting an error like this:

2015-01-26 10:16:01 (22.5 MB/s) - 'bootstrap.py' saved [6501/6501]

Traceback (most recent call last):
  File "bootstrap.py", line 80, in <module>
    exec(urlopen('https://bootstrap.pypa.io/ez_setup.py').read(), ez)
  File "/nix/store/ji8hpfdpzn65x8s6dmnki07j2rnlr0x7-python-2.7.9/lib/python2.7/urllib2.py", line 154, in urlopen
    return opener.open(url

[2015-04-05 12:25] blueyed opened #16 "Cleanup Makefile"
Most of it (or all?) should be provided by `nix-build` now.

[2016-05-20 15:47] spinus opened #18 ""ZIP does not support timestamps before 1980" when installing wheel"
I'm using current master 2ff7f064f8a7a87c9f6fe002d90318818f9a022a
pypi2nix failed on building wheel (wheel is not specified in requirements.txt)

Is there any way to fix this?
[code]

[2016-05-25 19:24] edude03 opened #19 "Extra build inputs not propagated to the generated output?"
Hello, I'm trying to use this project to generate a nix-shell expression with a bunch of tools installed, one of them being Ansible.

So following the example I did
[code]

And it fails to run nix build because it can't find libffi during install (or seemingly, during compilation), to fix it I added [these lines](https://github.com/garbas/pypi2nix/blob/master/examples/sentry_override.nix#L14-L21)

[2016-06-27 09:37] garbas opened #20 "zc.recipe.egg and zc.buildout should be ignored (as is setuptools and wheel)"

[2016-06-27 09:45] garbas opened #21 "use pkgs instead of nixpkgs as an input of default.nix"

[2016-06-27 09:54] garbas opened #22 "create an option for python.mkDerivation to select testing tool (eg. checkTool)"

[2016-06-27 09:56] garbas opened #23 "generated paths in default_nix should be relative to it"

[2016-06-27 13:45] ckauhaus opened #24 "requirements_generated.nix should have a stable sort order"
Currently the diff for requirements_generated.nix gets bloated for even minor changes.

See https://github.com/flyingcircusio/vulnix/pull/6/files for an example.

[2016-06-28 21:12] garbas commented on #6
this was fixed in master (soon to be 1.1.0)

[2016-06-28 21:12] #6 closed

[2016-06-28 21:13] garbas commented on #5
pypi2nix was heavily redesigned so this issue is not more relevant.

[2016-06-28 21:13] #5 closed

[2016-06-28 21:13] garbas commented on #4
pypi2nix was heavily redesigned so this issue is not more relevant.

[2016-06-28 21:13] #4 closed

[2016-06-28 21:13] garbas commented on #2
pypi2nix was heavily redesigned so this issue is not more relevant.

[2016-06-28 21:13] #2 closed

[2016-06-28 21:13] garbas commented on #1
pypi2nix was heavily redesigned so this issue is not more relevant.

[2016-06-28 21:13] #1 closed

[2016-06-28 21:16] garbas commented on #18
can you check if this work with current master. i know i fixed this issue in the past. please reopen the ticket and provide me with ``requirements.txt`` that you use to generate nix expressions from.

[2016-06-28 21:16] #18 closed

[2016-06-28 21:17] garbas commented on #19
this is fixed in current master (or to be 1.1.0 release)

[2016-06-28 21:17] #19 closed

[2016-06-28 21:17] garbas commented on #20
done

[2016-06-28 21:17] #20 closed

[2016-06-28 21:18] #16 closed

[2016-06-28 21:21] garbas commented on #23
fixed in master (to be 1.1.0 release)

[2016-06-28 21:21] #23 closed

[2016-06-28 21:22] garbas commented on #24
generated nix expressions are ordered in master (to be 1.1.0 release)

[2016-06-28 21:22] #24 closed

[2016-06-28 21:24] #21 closed

[2016-06-28 21:26] garbas opened #25 "lint code using flake8"

[2016-06-28 21:30] garbas opened #26 "handle other download format wheel/egg (stage3)"

[2016-06-28 21:30] garbas opened #27 "include known overrides automatically"
already started here: https://github.com/garbas/nixpkgs-python/blob/master/overrides.nix

[2016-06-28 21:33] garbas opened #28 "fetch package metadata from nixpkgs-python repository"
nixpkgs-python repository should contain:
- [ ] all metadata from pypi being daily updated via some cron job
- [ ] known overrides
- [ ] few packages sets (eg. latest, plone, django, pyramid, science) (this was started as example but needs documentation)

[2016-06-28 21:34] garbas opened #29 "improve license detection"
license should also be picked from classifiers

[2016-06-28 21:35] garbas opened #30 "when stage1 command fails we should display better error"

[2016-06-28 21:35] garbas opened #31 "implement support for buildout"

[2016-06-28 21:37] garbas opened #32 "implement support for SPECIFICATION"
- first it checks if we are refering to existing file/directory (eg. ``pypi2nix setup.py`` or ``pypi2nix .``)
- if no we expect to be space separated list of requirement.txt specifications (eg. ``pypi2nix empy==1.0.0``)

[2016-06-28 21:45] garbas opened #33 "run example (as tests) via travis"

[2016-06-29 08:51] spinus commented on #18
cool, thanks

[2016-06-30 23:46] garbas opened #34 "support to define multiple -r options and provide multiple requirements files"

[2016-07-03 14:09] garbas opened #35 "enable tests for generated packages"

[2016-07-03 18:03] garbas opened #36 "add option to run all tests"

[2016-07-03 18:03] garbas opened #37 "set maintainers from annotated requirements.txt (buildout.cfg)"

[2016-07-03 18:19] garbas opened #38 "maybe separate between top-level package and all-packages"

[2016-07-04 10:57] garbas commented on #33
travis finaly works https://travis-ci.org/garbas/pypi2nix/builds/142175614

[2016-07-04 10:57] #33 closed

[2016-07-04 14:19] garbas opened #39 "python version option should be mandatory"

[2016-07-04 14:33] garbas opened #40 "setuptools_scm not detected a builttime dependency of execnet"

[2016-07-04 14:40] garbas commented on #40
the same thing is true for "vcversioner" in jsonschema. i think this has to do with the thing that both are specified as ``setup_requires``

[2016-07-05 20:12] garbas opened #41 "use sha256 instead of md5"

[2016-07-05 21:10] garbas opened #42 "use asyncio to fetch package metadata"
example how this is done here https://github.com/NixOS/nixpkgs/pull/15007/files

[2016-07-05 23:49] #42 closed

[2016-07-05 23:49] #41 closed

[2016-07-05 23:54] #39 closed

[2016-07-06 00:30] #38 closed

[2016-07-06 00:35] #36 closed

[2016-07-06 09:17] garbas opened #43 "use effect library to separate io and use py.test to test all of this"

[2016-07-06 23:00] #34 closed

[2016-07-07 00:34] garbas opened #44 "write changes file"

[2016-07-07 00:47] garbas commented on #44
for now i'll give a try with github's releases -> https://github.com/garbas/pypi2nix/releases

[2016-07-07 00:47] #44 closed

[2016-07-07 14:20] davidak commented on #28
it is now created: https://github.com/garbas/nixpkgs-python

[2016-07-11 08:10] garbas commented on #28
@davidak tnx. i've converted this ticket to a todo list

[2016-07-11 16:42] escapewindow opened #45 "pypi2nix ignores -e URL in requirements.txt"
The requirements.txt looks like this:

[code]

`pefile` is cloned but not installed.

[2016-07-13 19:03] yamafaktory opened #47 "Command tries to get wheel-0.29.0.tar.gz and ends up with a 404."
Hi @garbas !

Here is my current workflow, I have the following derivation that I invoke with `nix-shell`:

[code]

Then I'm trying to build Docker-compose with pypi2nix (the one in the Nix packages is quite old) via the following requirements.txt:

[code]

That raises an error, as follow:

[code]
I also tried to add `python27Packages.wheel` directly in my derivation, without success.

Thanks a lo

[2016-07-15 04:40] garbas commented on #47
@yamafaktory

thank you forgiving pypi2nix a try. this is a known issue for version *1.1.0*. i've fixed it as soon as i could and cut *1.2.0* , but currently ``unstable`` channel is blocked and you will have to use pypi2nix from master until then. here is how to change your above snippet.

[code]

[2016-07-15 04:56] yamafaktory commented on #47
@garbas Thanks a lot, I will give it a try this evening!

[2016-07-15 18:45] yamafaktory commented on #47
@garbas I get an error with the `path/to/pypi2nix` (which I obviously changed to it my need), even if I put it quoted or not:

[code]

[code]

[2016-07-15 19:46] yamafaktory commented on #47
@garbas I fixed it by myself, just a missing `import` in front of the path!

[code]

[2016-07-15 20:03] garbas commented on #47
@yamafaktory let me know if ``pypi2nix`` works for you. and if there are any errors just report traceback + requirements.txt and i should be able to give you guidance

[2016-07-15 20:03] #47 closed

[2016-07-15 20:57] acowley opened #48 "Unhandled exception with numpy"
I tried to build a Python library that uses `numpy`. First, `numpy`'s build failed as it tries to link to the `Accelerate` framework on darwin, so I added that as a system dependency. After that, I reliably get a result like this with commit 41b545c71f9a5cd9e879abb4e1e7eb9f40ad1876,

[code]

[2016-07-17 15:36] davidak opened #50 "ImportError: No module named 'aiohttp' on darwin"
nix channel: unstable
OS X 10.10.5

[code]

[2016-07-18 13:57] plumps opened #51 "There is a random issue with async runners: concurrent.futures._base.TimeoutError"
This happened with the following ```requirements.txt``` on the latest macOS el capitan. Unfortunately this error is kind hard to re-produce. It may or may not happen on the subsequent run.

requirements.txt
[code]
[code]

[2016-07-19 21:25] mythmon opened #52 "Issue with dj-inmemorystorage and Python 3.5"
[code]

[2016-07-19 22:17] martafka commented on #52
i've fixed it in current master and keep in mind that you will need this override

[code]

[2016-07-19 22:19] garbas commented on #52
i've fixed it in current master and keep in mind that you will need this override

[code]

i'll close the issue please reopen it if it doesn't work

[2016-07-19 22:19] #52 closed

[2016-07-20 09:30] garbas commented on #50
this is fixed in master. i wasn't really testing on osx, from now i will.

[code]

can you check if above commands work for you. and please reopen this ticket if a problem is still there.

[2016-07-20 09:30] #50 closed

[2016-07-20 09:45] garbas commented on #48
does this happen every time for you? as reported in #51 this is something that happens occasionally. i actually rerun your commands on darwin and it worked. i guess i just got luck, but i'm still waiting to hit this issue.

i'll close this issue and we can continue track this "concurrent.futures._base.TimeoutError" bug in #51

[2016-07-20 09:45] #48 closed

[2016-07-20 09:58] garbas commented on #51
https://github.com/mrphlip/lrrbot/issues/135 was also seeing same problem. i guess i just dont know how to use aiohttp :)

[2016-07-20 10:25] garbas opened #53 "check for error "ERROR: Failed to build one or more wheels" in stage1 output"

[2016-07-20 10:26] garbas opened #54 "Pillow does not get installed."
example requirements.txt to reproduce this

[code]

[2016-07-20 12:33] garbas opened #55 "if pypi2nix fails ask a person to open an issue here"
maybe this could also be created automatically.

eg. the build failed you wish to create an issue on github?

[2016-07-20 15:01] acowley commented on #48
I tried my original use (which was just two packages in `requirements.txt`) about half a dozen times, then this simpler one twice, and it happened every time. My luck at hitting the issue consistently is probably due to my home internet being a very poor quality connection.

[2016-07-21 15:48] garbas commented on #48
oh that is a good tip. i'll try to "slow" my internet connection to be able to reproduce this

[2016-07-22 13:09] garbas opened #56 "Make sure that packages get generated or throw error at pypi2nix command"
requirements.txt
[code]

[code]

default.nix
[code]

Error:
[code]

[2016-07-24 17:21] garbas commented on #51
fixed in master

[2016-07-24 17:21] #51 closed

[2016-07-24 23:43] garbas commented on #54
i've fixed pillow in custom branch so that its ``setup.py`` will try to resolve paths using ``pkg-config``
for now you can put ``https://github.com/garbas/Pillow/archive/pkg-config.tar.gz#egg=Pillow`` in your requirements.txt

[2016-07-24 23:44] #54 closed

[2016-07-25 00:00] garbas commented on #45
current master now supports requirements file that lines start with ``http://`` and ``https://``.

that means you can now point to ``https://github.com/erocarrera/pefile/archive/master.tar.gz#egg=pefile``

getting ``-e`` to work is still in todo, but would require some reorganization of code, planning it for 1.4.0 or 1.5.0 release

[2016-07-25 01:24] garbas commented on #32
landed in master ``pypi2nix -e empy`` would fetch latest from pypi.

[2016-07-25 01:24] #32 closed

[2016-07-30 12:56] martijnvermaat commented on #40
I guess this is also the case for [pytest-runner](https://github.com/pytest-dev/pytest-runner) which I just ran into trying to build [vulnix](https://github.com/flyingcircusio/vulnix) (as mentioned on IRC).

[2016-07-30 16:19] garbas commented on #40
hmm i've just checked this and looks like there is no information in metadata.json (of wheel) about setup_requires.

i think for now we will just have to solve this using overrides.

[2016-07-30 17:15] martijnvermaat opened #57 "Setup runs tests even though doTest = false"
I'm building [vulnix](https://github.com/flyingcircusio/vulnix) (which uses pypi2nix) on NixOS 16.03. A plain `nix-build` from the repo root works (after flyingcircusio/vulnix#15), but it uses a pinned version of Nixpkgs.

I wanted to try building it with my system Nixpkgs: `nix-build --arg pkgs 'import <nixpkgs> {}'`

However, this fails as it is trying to download pytest as part of the setup tes

[2016-07-31 02:35] yuchangyuan opened #58 "Fail to generate nix expression for homeassistant"
I try to generate nix expression for homeassistant  with command:

`pypi2nix -V '3.5' -e homeassistant`

and failed with error:

I see that only v3.5.2 is been listed on page https://pypi.python.org/pypi/typing , but the actually package is typing-3.5.2.2.tar.gz ( https://pypi.python.org/pypi/typing/3.5.2 )，maybe this the cause of the issue. However, I am sorry that I can not invest any more for I

[2016-07-31 08:52] garbas commented on #58
@yuchangyuan i stumbled on this error few days ago myself.

and no worries for not being able to contribute. currently i'm more missing users that report problems. you already did more then most of the users :) tnx

[2016-07-31 10:18] #58 closed

[2016-07-31 12:23] garbas opened #59 "minimize output in console"
users are really not interested in the output that currently pypi2nix produces.

- [ ] hide current output behind verbosity levels.
- [ ] show tracebacks only when error occurs
- [ ] create "loading" widget for console. example [here](http://stackoverflow.com/a/4995896/367069)

[2016-07-31 12:51] garbas opened #60 "fix for #58 broke travis"
https://travis-ci.org/garbas/pypi2nix/builds/148650026

[2016-07-31 12:52] #60 closed

[2016-07-31 12:57] garbas opened #61 "example for buildout"
add example to test buildout. we could just use vulnix as example.

[2016-07-31 17:29] garbas opened #62 "combine requirements.nix and requirements_generated.nix into one"

[2016-07-31 17:30] garbas opened #63 "create requirements_frozen.txt alongside all nix files"

[2016-07-31 17:30] garbas opened #64 "add multi python version support"

[2016-07-31 17:42] garbas opened #65 "improve version recognition"
[code]

[2016-07-31 17:43] garbas opened #66 "recognize version from classifiers"

[2016-08-01 15:19] acowley opened #67 "Certificate problem"
On darwin with pypi2nix-1.4.0dev, with this `requirements.txt`

[code]

I get this error,

[code]

The URL works in my browser.

[2016-08-02 09:05] RonnyPfannschmidt opened #68 "falling setup with editable local requirement"
# folders

* `project`
  * `setup.py`
  * `requriements.txt`
* `default.nix`

# project/requirments.txt

[code]

# partial error

[code]

[2016-08-02 09:07] garbas opened #69 "add example of commented override in requirements_override.nix"

[2016-08-02 09:21] garbas commented on #67
this is actually a known problem which i have no OOTB solution for it. let me explain what is happening here and how you can work around it for now.

in setup.py there is a section called "setup_requires" which for some reason does not get added to ``metadata.json`` when you create a python wheel. ``metadata.json`` is actually what you would expect to be available to fetch from pypi, but that is a

[2016-08-02 09:34] garbas opened #70 "pip cache should be present in /tmp/pypi2nix cache"

[2016-08-02 09:36] garbas opened #71 "wheels cache persists between runs"
when you remove a package from requirements.txt it will still be picked up by pypi2nix on subsequent runs. for now you have to manually clear /tmp/pypi2nix

[2016-08-02 09:50] #31 closed

[2016-08-02 15:45] acowley commented on #67
This worked, thank you!

A minor secondary note is that I did encounter one timeout when in the metadata download phase again, but it went away on a retry. If there is a timeout value you can specify, please increase it!

[2016-08-04 18:17] garbas commented on #68
this is actually the problem with pip already

[2016-08-04 18:18] garbas commented on #68
as far as i can see those paths in -e are not relative to requirements.txt. we should be able to fix this but i'm going to do this in later version. except if somebody does it instead of me.

[2016-08-04 18:20] garbas commented on #68
what needs to be done.

for each requirement file we need to copy it to projects temporarily directory and fix those -e paths to be absolute but calculating absolute path relative to that requirements file.

[2016-08-04 19:39] #63 closed

[2016-08-04 19:39] #70 closed

[2016-08-04 19:39] #71 closed

[2016-08-04 20:15] #65 closed

[2016-08-04 20:25] #67 closed

[2016-08-04 21:01] #66 closed

[2016-08-04 21:11] garbas opened #72 "dont rebuild wheels if they are already present in cache"

[2016-08-04 21:11] #72 closed

[2016-08-06 12:10] garbas opened #73 "buildout doesnt work for vulnix project"

[2016-08-06 13:08] #59 closed

[2016-08-06 13:08] #73 closed

[2016-08-06 13:09] #69 closed

[2016-08-06 19:16] garbas opened #74 "add verbosity flag to show output when a user needs it"

[2016-08-06 19:18] #61 closed

[2016-08-06 19:18] #74 closed

[2016-08-09 06:23] mfine opened #75 "pyflakes fails with permissions errors"
[code]

[2016-08-09 06:24] mfine commented on #62
:+1: I understand the idea behind just changing generated file, but I'd love a collapsed single file.

[2016-08-09 21:10] garbas commented on #62
@mfine it is not a priority, but will happen especially once i start rewriting how python internals in nix. then i would have to ship base python functions with pypi2nix

[2016-08-10 17:17] rail opened #76 "empty requirements_generated.nix if installation fails"
Steps to reproduce
0. clone https://github.com/mozilla/buildbot-bridge
1. Generate requriement.txt
[code]
2. Generate nix files:
[code]
it fails to install `MySQL-python-1.2.5.zip`:
[code]

As a result I get `requirements_generated.nix` with 0 packages listed. Probably pypi2nix  should abort in this case.

[2016-08-15 00:27] garbas commented on #75
looks like this has been already fixed in 1.4.0

[code]

[2016-08-15 00:27] #75 closed

[2016-08-15 01:18] #53 closed

[2016-08-15 01:18] #56 closed

[2016-08-15 01:34] garbas commented on #76
looks like current pypi2nix master fixes this bugs. for mysql and related libraries you have to specify them via ``-E`` flag.

also you don't have to generate requirements.txt file. you can just use ``-e`` flag. and requirements_frozen.txt will be generated for you so you can use that with ``pip/virtualenv``

[code]

[2016-08-15 01:34] #76 closed

[2016-08-15 02:10] garbas commented on #26
this is actually not possible

[2016-08-15 02:10] #26 closed

[2016-08-15 02:12] garbas commented on #37
maintainers should be set some other way, probably via override file

[2016-08-15 02:12] #37 closed

[2016-08-15 02:13] garbas commented on #35
this is already possible with additional ``requirements-dev.txt`` file

[2016-08-15 02:14] #35 closed

[2016-08-18 22:04] mythmon opened #77 "Silent failures with psycopg2"
Running `pypi2nix -V "3.5" -e 'psycopg2==2.6.1'` runs to completion, with no errors, and a 0 exit code, but produces an empty `requirements_gerated.txt`. The solution is to add `-E postgresql`, since it is a build time dependency.

[2016-08-18 23:28] mythmon opened #78 "Can't find version of canonicaljson for Python 3.5"
[canonicaljson](https://pypi.python.org/pypi/canonicaljson/1.0.0) (which works on Python 3.5) can't be found with pypi2nix. Running `pypi2nix -V 3.5 -e canonicaljson` produces the error `Could not find a version that satisfies the requirement canonicaljson`.

[2016-08-23 18:59] garbas commented on #77
tnx for the failing example... that nix-shell stuff does not return correct error code.

[2016-08-23 19:00] garbas commented on #77
but at least now i have a failing example and i can maybe check in the output for this failed things

[2016-08-23 19:01] garbas commented on #78
for future ... can you run with "pypi2nix -v ..." to get more verbose view (like before 1.4.0 version)

[2016-08-23 19:06] garbas commented on #78
i've checked cannonicaljson and it looks it only has whl as a release. i'm not yet sure how to support whl files. for now source tarballs are required.

i'll leave this ticket open to provide better error messages for this kind of errors.

[2016-09-08 22:11] mattbillenstein opened #80 "Some backports namespace packages missing __init__.py"
lI'm not sure why this is happening, but some of the backports packages I'm installing from pypi include backports/__init__.py -- but when I install them via nix, the __init__.py isn't included:

[code]

note functools_lru_cache and configparser missing backports/__init__.py

One of these packages is getting picked up off of PYTHONPATH when invoking ipython which then can't find the actual backpor

[2016-09-13 17:12] garbas commented on #80
@mattbillenstein tnx for the report ... i'll look at this before making new release. in the worse case you can fix it within *_generated.nix file

[2016-09-24 15:38] garbas commented on #57
any idea which version of nixpkgs were you having locally back then?

i'm trying to reproduce this but i've used few versions and i can not find one which breaks like it did for you?

also did you run this on osx or linux?

[2016-09-24 15:59] #77 closed

[2016-09-24 15:59] martijnvermaat commented on #57
NixOS 16.03, I can still reproduce it today: http://sprunge.us/SPBI

[2016-09-24 16:05] martijnvermaat commented on #57
nix-build --arg pkgs 'import (builtins.fetchTarball "https://github.com/NixOS/nixpkgs-channels/archive/nixos-16.03.tar.gz") {}'

This fails.

    nix-build --arg pkgs 'import (builtins.fetchTarball "https://github.com/NixOS/nixpkgs-channels/archive/nixos-16.09.tar.gz") {}'

This succeeds.

[2016-09-24 16:09] garbas commented on #57
tnx, i'll look into it shortly

[2016-09-24 16:09] #78 closed

[2016-09-24 16:10] garbas commented on #30
done with #77

[2016-09-24 16:10] #30 closed

[2016-09-24 16:13] martijnvermaat commented on #57
By the way, this is absolutely not critical for me, but it might be something worth fixing anyway :)

[2016-09-24 16:30] garbas commented on #57
tnx i reproduced it.

``pytest-runner`` used in vulnix is at version ``2.9``. ``pytest`` is [there](https://github.com/pytest-dev/pytest-runner/blob/2.9/setup.py#L40) only test requirement.

many things changes in python stuff since ``16.03`` and making it work with both would be too much work. think will become less of an issue when i'll be including python ``buildPythonPackage`` with ``pypi2nix`

[2016-09-24 16:31] #57 closed

[2016-09-24 23:48] #55 closed

[2016-09-25 00:44] garbas commented on #80
@mattbillenstein finally found some time to debug this.

in short: i think the issue is upstream due to missing ``namespace_packages=['backports'],``

command i used to create an environment is

[code]

also this override was needed

[code]

above should be able to be build using
[code]
command.

backports packages that work are:

[code]

backports packages that **dont** work is:

[code]

comparin

[2016-09-25 00:44] #80 closed

[2016-09-25 00:57] mattbillenstein commented on #80
Great -- thanks for the excellent debug!

[2016-09-25 01:07] mattbillenstein commented on #80
FYI https://github.com/chrippa/backports.shutil_get_terminal_size/pull/10

[2016-09-25 01:24] #68 closed

[2016-09-25 01:24] garbas commented on #68
@RonnyPfannschmidt can you confirm this also works for you (use current master)

[2016-09-25 01:38] garbas commented on #45
possible options https://pip.readthedocs.io/en/1.1/requirements.html#git

[2016-09-25 01:39] garbas commented on #45
this feature actually requires quite some work since we  need to calculate sha256 of any of the above mentioned version controls. postponing for now

[2016-09-29 08:39] garbas opened #81 "nix-shell is a dependency of pypi2nix"
but it should be also possible to define nix-shell via cli

[2016-10-04 07:43] CMCDragonkai commented on #26
Why is this not possible?

[2016-10-04 10:56] garbas commented on #26
hmm dont remember ... i know i spend a day looking into this. i should have written at least something explaining this. if you wish to explore this let me know ... i'm currently focusing on other parts of pypi2nix

[2016-10-04 20:22] jb55 opened #83 "Can't figure out how to provide matplotlib dependencies?"
I'm trying to build https://github.com/ibab/tensorflow-wavenet on master (80ad4efaeb19c71a921c6d0d02087bc2c75acd67):

    $ pypi2nix -V 2.7 -r requirements.txt -E freetype -E libpng -E pkgconfig

Matplotlib fails to build because it can't find freetype or libpng. Is there something I'm missing here?

[2016-10-10 15:19] garbas commented on #83
i think i broke master last week and ``-E`` were ignored for some reason, fix is already in the master and above should work. please reopen this ticket if this is not the case.

[2016-10-10 15:19] #83 closed

[2016-10-10 16:34] garbas commented on #83
i see ``tensorflow-wavenet`` depends also on scipy/numpy ... which i'm still working be able to package it with ``pypi2nix``.

in short it assumes that you willl create ``site.cfg`` next to ``setup.py`` with paths to ``openblas`` include and lib folder. clearly this is not possible with ``pypi2nix``. so either we need to fix numpy/scipy upstream (like i did already with pillow) or we add some magi

[2016-10-10 16:36] jb55 commented on #83
thanks!

[2016-10-10 16:44] #81 closed

[2016-10-10 16:56] garbas opened #84 "build numpy/scipy"

[2016-10-10 16:59] garbas commented on #83
i've opened a ticket #84 to work on this

[2016-10-13 15:33] peterhoeg opened #85 "Missing dependency caused pypi2nix to fail"
Trying to generate expressions for http://home-assistant.io and the process is failing due to one of the dependencies failing to declare its own dependencies.

How to reproduce:

[code]

Error:
[code]
Is there a way to inject a dependency for astral on pytz into the pypi2nix process?

cc: @garbas

[2016-10-13 16:44] garbas commented on #85
Hi @peterhoeg,

I gave home-assistant a try and this are my current notes:

 - you probably want to skip ``-T`` option in the beginning and with the size of this python project it is going to be very hard to run tests. i would estimate the work to be around a month for this to happen. you can still package and run home-assistant just nix wont run tests for all the packages.

- 2 packages (``gps3``

[2016-10-17 16:04] peterhoeg commented on #85
Thank you so much for the elaborate feedback!

I was running with 1.5.0 but I'm trying to re-run it now with latest master - so far it hasn't flaked out with the pytz error.

FYI, there is a small typo in your sed script:
[code]
should be:
[code]

I'll be pushing all of this to a separate repo so other nixers can use this. Python packaging looks like it's very frustrating - you have admirable pati

[2016-10-17 16:22] peterhoeg commented on #85
Still not quite there:

[code]

[2016-10-18 15:47] garbas commented on #85
@peterhoeg i think i mistyped above sed commands. urls should end up with "#egg=<name>".

also i should complain a bit nicer in the code not returning this cryptic error.

[2016-10-18 15:52] garbas commented on #85
also if you want you can add homeassistant into ``garbas/nixpkgs-python`` were i hope to be able to start collaboration on generating different projects with ``pypi2nix``

p.s. i'm currently in morocco and it might take some time before i reply

[2016-10-19 01:45] peterhoeg commented on #85
I have changed ```?egg``` to ```#egg``` but I am still getting the ```IndexError: list index out of range``` error.
Adding it into your repository would be great. I asked the nixos guys earlier if we could create a repository under the nixos org for keeping things like that, so maybe getting yours in there could be an idea to make it "official".

[2016-10-20 09:44] garbas commented on #85
@peterhoeg

1. installing ``homeassistant``. those 2 sed lines should be:

[code]

if you still have an error can you paste it here. i don't have good internet to be able to run this myself until this evening. (you appreciate good internet in sahara :P)

2. about ``garbas/nixpkgs-python``. before calling it official i'd like to see it working and few of us using. if you want i caan give you push a

[2016-10-20 10:34] peterhoeg commented on #85
This is what I do:

[code]

And this is the error:

[code]

I spent 2 years in Tanzania some time ago - 256kbit/s over satellite stops being fun real quick...

[2016-10-20 19:16] garbas commented on #85
@peterhoeg i've pushed a commit that should output a bit nicer message. looks like some of the requirements does not includes ``#egg=<name>``.

[2016-10-21 01:20] peterhoeg commented on #85
[code]

[2016-10-21 01:39] peterhoeg commented on #85
Tried with this expression as well, but the error persists:
[code]

[2016-10-21 09:12] garbas commented on #85
damn i forgot to import the exception. too much Elm lately and i started to trust tools again :) i fixed the error now and it should show you which line is problematic.

[2016-10-21 13:07] peterhoeg commented on #85
Much better error messages now, thanks! You should consider releasing this asap!

One more thing though, if you are detecting ^http lines with the required #egg, why not just add that in dynamically and try again? Sure, you'd cover up upstream sloppy mistakes, but it might cause fewer errors.

Still banging on home-assistant.

[2016-10-21 19:27] garbas commented on #85
@peterhoeg great! i'm planning release at the end of the month or if i figure out sooner how to get pypi2nix to work around weirdness of numpy/scipy.

[2016-10-22 13:58] a7p opened #86 ""make lektor" from the examples fails on MacOS - (Security/SecCertificate.h) not found"
running a current http://nixos.org/channels/nixpkgs-unstable

I'll happily provide further info.

# Traceback

[code]

[2016-10-22 21:51] garbas commented on #86
@a7p thanks for the feedback. currently i'm focusing all my resource to get pypi2nix working on linux. there is no reason it should not work on osx, but since i dont have it at my disposal it takes hard to test. ofcourse i could be using travis but that is very time consuming.

if you want we can ping-pong on this issue and make it work on osx as well.

- can you try extending ``LEKTOR_BUILD_INPUT

[2016-10-23 10:47] bennofs opened #87 "pypi2nix wheel fails with ZIP error"
[code]

[2016-10-23 11:19] bennofs commented on #87
The problem seems to be that `SOURCE_DATE_EPOCH` is set to `1`.

[2016-10-23 18:29] #87 closed

[2016-10-23 18:30] garbas commented on #87
i love this kind of issues which come with patches!

[2016-10-26 03:42] peterhoeg commented on #85
@garbas, a lot of the ```home-assistant``` dependencies are failing with various errors:

[code]
or
[code]

For the latter, it seems that even if you fetching from github, pypi2nix will try to make a lookup at pypi.python.org and if that version is not there (or happens to be different software with the same name), then things fail.

Is a failing lookup at pypi.python.org truly a hard error or cou

[2016-10-29 18:36] garbas commented on #85
@peterhoeg i've added you push permissions for ``garbas/nixpkgs-python``, created a ``home-assistant`` branch and copied your instructions there. would it be ok to collaborate there - it is easier to share code and comment on lines. I've also opened a PR [here](https://github.com/garbas/nixpkgs-python/pull/2) so we can keep conversation as we go.

i'll close this for now.

[2016-10-29 18:36] #85 closed

[2016-10-30 15:13] a7p commented on #86
:( does not solve the issue. I'll move over to a linux install target. Macos has a very low priority for me.

If you want to fix this problem, I'll gladly help and send you all the error messages - If you'd rather care about other stuff, I'll surely provide linux issues soon.

[2016-10-30 18:26] #86 closed

[2016-10-30 18:30] garbas commented on #86
i think i fixed this. but i'm not sure. i'll able travis builds also on osx and see what it breaks.

[2016-10-30 22:16] garbas commented on #86
i also needed to fix nixpkgs and now we need to wait for unstable channel to be propagated (1-2days top) be picked up by travis.

[2016-10-31 07:14] a7p commented on #86
I'll keep an eye on this and give feedback.

[2016-11-02 06:18] brainrape opened #89 "Error when running pypi2nix command: attribute python27Full missing"
# Description

It looks like `python26Full` and `python27Full` are no longer available in nixpkgs-unstable.

# Traceback

[code]

[2016-11-02 07:26] garbas commented on #89
i already fixed this in nixpkgs master (for python27Full), waiting now for unstable to be propagated. i'm actually not sure what to do with python26 since it is marked as broken in nixpkgs, which i think we should not do.

[2016-11-02 07:28] garbas commented on #89
maybe better would be to find a solution how to detect different version of ``nixpkgs`` and their capabilities.

[2016-11-03 08:52] brainrape commented on #89
eg. test what's availlable with `nix-instantiate --eval`?

[2016-11-03 17:17] brainrape commented on #89
how can I use `pypi2nix` with a local nixpkgs checkout until the fix lands in the channel?

[2016-11-03 18:01] garbas commented on #89
there is ``-I`` option so you wouuld do ``pypi2nix -I nixpkgs=/path/to/nixpkgs``

[2016-11-06 07:05] danbst commented on #62
I found a way to use generated requirements in nixpkgs.

[code]

Here we can reuse nixpkgs python infrastructure and insert packages with "frozen" dependencies (and "frozen" deps still can be updated with pypi2nix!)

[2016-11-08 13:25] danbst opened #90 "Allow /nix/store friendly mode"
Currently I can't use
[code]

to later import it as nix source file (in spirit of https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/haskell-modules/default.nix#L55) because pypi2nix tries to write to /nix/store, which is locked by build

[2016-11-10 12:21] brainrape commented on #89
thanks, not sure why I didn't notice it in the help. it doesn't work though :(
- checked out nixpkgs 7ccdb8d (latest as of now)
- `nix-env -f /path/to/nixpkgs -i pypi2nix`
- `pypi2nix -I /path/to/nixpkgs -V 2.7`
same error as above (different hashes)

[2016-11-11 21:14] garbas commented on #89
i've just created a PR (https://github.com/NixOS/nixpkgs/pull/20350) that should fix this upstream in nixpkgs. i guess at later point we should also figure out how to detect certain features in nixpkgs.

[2016-11-11 21:14] #89 closed

[2016-11-11 21:34] garbas commented on #90
@danbst ``pypi2nix`` is not suppose to be used from within derivation but as a command line utility that generated nix expressions which you then import from your other nix files. to compare it with haskell infrastructure ``pypi2nix`` is more like ``hackage2nix`` which you also use as a command line tool.

i hope this clarifies things. if you think i can improve README to make it clearer how to us

[2016-11-11 21:34] #90 closed

[2016-11-11 21:39] garbas commented on #62
@danbst  actually both ``requirements.nix`` and ``requirement_generated.nix`` are generated (always) via ``pypi2nix``. to use generated python packages you simple need to ``pythonEnv = import ./requirements.nix { inherit pkgs; };`` and then all packages are available via ``pythonEnv.packages`` attribute set.

this ticket is about generating only one file, instead of 2, which i think makes more sen

[2016-11-12 15:15] brainrape commented on #89
thanks!

[2016-11-15 07:24] garbas opened #91 "use pip-tools internally"
pip-tools is currently lacking some thing which are supported by current version pypi2nix. maybe add support for things we are missing in the upstream (eg resolve the urls, -e ... , )

let this ticket serve as a discussion point, since it is not something we can easily switch to

[2016-11-26 15:59] #84 closed

[2016-12-21 13:20] edofic opened #92 "Error when running pypi2nix command for a library with C dependencies"
# Description
I'm packaging an existing Python project which has dependencies that depend on C libraries. I reduced it to a [minimal example](https://gist.github.com/edofic/989dba2288ca36acaa434a82a5b3e15c).

I'm assuming `pypi2nix` doesn't pick up the libraries brought in by `nix-shell` and I cannot find a way to specify them. I'm open to working on this if changes to pypi2nix are required, but I

[2016-12-21 23:01] garbas commented on #92
@edofic great report. this one was easy to fix :)

what you are missing is providing ``-E`` option, which adds *system packages* to nix-sell
following options built ``dm.xmlsec.binding`` for me

    % pypi2nix -v -V 2.7 -r requirements.txt -E libxml2 -E libxslt -E xmlsec -E libtool
    % nix-build requirements.nix -A interpreter
    % ./result/bin/python -c "import dm.xmlsec.binding"

i will close

[2016-12-21 23:01] #92 closed

[2016-12-21 23:04] garbas opened #93 "document ``-E`` option (system dependencies) in readme"
this issue was raised in #92

[2016-12-22 09:50] edofic commented on #92
@garbas yes this works for me. Thank you, I really appreciate your quick support.

About Reciprocity; we are only slowly rolling out nix to power dev environment but it's already solving some problems and causing a lot of developer happiness.

[2016-12-22 11:41] garbas commented on #92
@edofic awesome. i love when things just work 😄 i opened an issue to document ``-E`` in readme.

i love seeing Nix growing in [Lublana](https://www.youtube.com/watch?v=rhhOX-ML7dQ) 😉  and feel free to ping if you need any help with python+nix stuff.

also i'm looking for some help moving @garbas/nixpkgs-python forward, that project is intended to share those "override" files with others.

[2016-12-22 14:52] edofic commented on #92
Will do. :smile:

That's great. Will contribute any overrides I come up with - cannot really promise anything else right now.

[2016-12-23 10:17] uralbash opened #94 "Error when running pypi2nix command"
# Description

just try to install requirements.txt with psycopg2

# Traceback

[code]

[2016-12-23 11:23] garbas commented on #94
you need to provide postgresql at stage1. you do this by specifying ``-E postgresql``

    pypi2nix -V 2.7 -r testscaffold/requirements.txt -r testscaffold/requirements-dev.txt -E postgresql

let me know if this fixes it for you.

[2016-12-23 11:24] garbas commented on #94
also i'm planning to document this over the xmas. right now you need to consult ``--help`` to know this

[2016-12-23 11:58] uralbash commented on #94
I use it on Ubuntu 16.04 with nix 1.11.4.

That's what I get:

[code]

[2016-12-23 12:36] garbas commented on #94
oh i see in 1.5.0 there was a bug where you couldn't provide multiple ``-E`` options.

either you use pypi2nix from master (for now) or do ``-E "postgresql libffi"``

i see i need to push 1.6.0 out soon

[2016-12-23 13:24] uralbash commented on #94
Thanks! Now it works

[2016-12-23 13:24] #94 closed

[2016-12-23 15:13] #93 closed

[2016-12-29 08:49] edofic opened #95 "Wrong src generated for a git dependency"
I ran

    pypi2nix -V "2.7" -r requirements.txt

with this as `requirements.txt`.

    git+https://github.com/lepture/flask-oauthlib.git@33f155bb86c5482b638b7383fb360d02b11a99f1

Because I need a version at a specific commit that was never released. `pypi2nix` outputs the "correct" version `0.7.0` into `requirements_frozen.txt` - this commit still says 0.7.0 but the code is newer than the actual

[2017-01-02 14:17] garbas commented on #95
@edofic happy new year!

could you try adding ``#egg=Flask-OAuthlib`` to the end of ``git+https://...`` line in ``requirements.txt``?

if above does not fixes it would you have time to investigate it. [here](https://github.com/garbas/pypi2nix/blob/master/src/pypi2nix/stage2.py#L293) is where the bug might happen.

also maybe add ``Flask-OAuthlib`` to tornado example (in ``examples/`` folder) so th

[2017-01-03 08:53] edofic commented on #95
@garbas happy new year to you too!

I tried, no diff on the generated files.
Yes, I can look into this, thanks for the pointer.

[2017-01-18 12:18] garbas opened #98 "solve problems that nixpkgs is causing when python infra is changing"
idea i have is to control this changes in pypi2nix repository or even better nixpkgs-python repository from where we would also pull common overrides

[2017-01-26 22:20] badi opened #99 "question: how to merge requirements into one derivation"
I'm running into a situation that I'm not quite sure how to solve.
Is there a way to build the python with packages derivation such that the packages are installed to the same prefix, such as a virtualenv?

The basic problem is that two python packages share the same top-level namespace.
In this case, the azure set of packages: ``azure-common``, ``azure-nspkg``, and ``azure-servicemanagement-legac

[2017-01-27 14:31] seppeljordan opened #100 "Support mercurial as a source for packages"
Hey, I am currently implementing support for "-e hg+..." repos and kind of finished this, which is quite nice.  After being finished and testing this with a private hg repo that I cannot share with the world I was not able to find a hg repo that is small enough to make a reasonable test case.
If somebody knows a good repo, please let me know.
Cheers
sebastian

[2017-01-27 14:43] garbas commented on #100
@seppeljordan maybe you can find "small enough" repo here: https://hg.mozilla.org/

[2017-01-27 14:51] garbas commented on #99
@badi this looks like it needs to be fixed upstream. i suppose they only use pip and with pip this would work, but not with how nix handles things.

i don't remember from the top of my head which package also does this, but works with nix, but there is some setup.py option you need to set for this to work. if i remember i will let you know.

[2017-01-27 21:26] badi commented on #99
Ok, thanks. I think I'll also ping the nix-dev mailing list to see if there are any thoughts there.

[2017-01-29 18:39] #95 closed

[2017-01-29 21:49] #100 closed

[2017-01-29 22:19] garbas commented on #99
@badi could you try to patch the azure-*/setup.py with ``namespace_packages = ['azure']`` and see if it works? looks like they forgot about this.

explained here: http://peak.telecommunity.com/DevCenter/setuptools#namespace-packages

[2017-01-30 02:18] #45 closed

[2017-01-30 02:19] garbas commented on #45
looks like this is done with #101

[2017-01-30 02:21] garbas commented on #40
I need to close this ticket since I have look few times how to solve this but always without luck. This would be solved once we will include known overrides which are going to be done as part of #27

[2017-01-30 02:22] #40 closed

[2017-01-30 02:22] #99 closed

[2017-01-30 02:29] garbas opened #102 "make pypi2nix pip installable and release to pypi"

[2017-01-30 02:33] garbas opened #103 "setuptools has build time dependencies now"
six, packaging and appdirs

[2017-01-30 02:52] #103 closed

[2017-02-04 16:39] copumpkin opened #104 "Failure when trying to run pypi2nix on pantsbuild.pants"
# Description

Wow, I like your fancy auto-reporting machinery! Anyway, just trying out pypi2nix and got this immediately when giving it a go.

# Traceback

[code]

[2017-02-04 20:20] garbas commented on #104
@copumpkin thank yo for using this reporting tool :) I makes my job (trying to reproduce) so much easier.

I am not sure who to "blame" for this bug, probably ``pip`` doesn't handle this good. Anyway, ``setuptools`` in recent releases gained few dependencies, one of which is ``packaging``, which I update once a release (not sure this is best, but was working ok until now). Looks like you need to t

[2017-02-10 15:01] teh commented on #54
I don't think us constantly patching pillow is a great solution so I'd like to re-open this. I can think of a few solutions:

1. Upstream better pkg-config support (preferred)
2. Allow pypi2nix to override requirements.txt with a package from nixpkgs

What do you think?

[2017-02-10 17:43] garbas commented on #54
in ``requirements.txt`` you can already point to custom sources of packages, this can serve as an intermediate solution, as I did above in a comment.

I submitted the PR and after few ping/pong comments it got merged
https://github.com/python-pillow/Pillow/pull/2074

As you said, preferred option is always to fix it upstream.

[2017-02-10 18:55] teh commented on #54
Ah cool, thanks! This should be in 4.0.0 so I'm not sure why things still aren't working. I'll investigate

[2017-02-10 23:00] garbas commented on #54
@teh I have added a pillow example to pypi2nix https://github.com/garbas/pypi2nix/commit/f1d9e52f8ecbb1f1cf29a582584d9a79d9b4b228 ... and if something breaks we will know. For now, I am only building for Linux it takes a bit too much effort to set this up for osx

[2017-02-18 16:18] Lassulus opened #106 "get find-links from buildout.cfg"
find-links from buildout.cfg should be passed to pip.

[2017-02-18 17:50] seppeljordan commented on #25
solved with 12dbf1451a37a0b228860048007ac821fd0c7a26

[2017-02-18 17:50] #25 closed

[2017-02-25 12:20] #62 closed

[2017-02-25 19:38] mfine commented on #62
:+1:

[2017-03-01 20:07] exarkun opened #110 "FileNotFoundError: [Errno 2] No such file or directory: 'locale'"
[code]

[2017-03-01 23:45] garbas commented on #110
@exarkun I have good news and bad news.

1. GOOD: the following command was able to generate Nix expressions

[code]

Keep in mind that I was using pypi2nix from current master.

2. BAD: generated nix expressions include many circular dependencies which are quite common with ``Twisted`` and ``zope`` like packages. This can be usually solved with ``requirements_override.nix`` but I'm lacking the kn

[2017-03-02 12:58] seppeljordan opened #111 "pypi2nix broken with current nixos-unstable package set"
[code]
[code]

[2017-03-02 13:13] garbas commented on #111
it works for me with current pypi2nix master

[2017-03-02 13:22] seppeljordan commented on #111
sorry for the noise.  I tried on a second machine and it worked.

[2017-03-02 13:22] #111 closed

[2017-03-03 11:33] garbas opened #112 "Detect distribute and produce nicer error"
# Description

<detailed description of error # Traceback

[code]

[2017-03-03 11:34] garbas commented on #112
we probably will never be able to support distribute (it is any way deprecated), but we should probably detect this and show nicer error

[2017-03-03 18:24] seppeljordan commented on #111
@garbas just an update in case you are interested:  i think the breakage happend because setuptools is in pythonpath on nixos untable anymore and pypi2nix uses ```import pkg_resources```.  May be fixed on nixpkgs/master, i haven't tried it out on master.

[2017-03-23 13:18] jlesquembre opened #116 "Error with python-ldap"
If you try to generate a nix expression for python-ldap:

    pypi2nix -v -V 2.7 -e python-ldap -E openldap -E openssl -E cyrus_sasl

You'll get an error. I think the reason is a missed header library: [link](https://github.com/NixOS/nixpkgs/blob/14a65c5ecdaa68ee811a686c9c6ace3bf6710eb1/pkgs/development/python-modules/ldap.nix#L13)

Is it a way to specify `NIX_CFLAGS_COMPILE` with pypi2nix?

[2017-03-23 13:27] seppeljordan commented on #116
Hi, please check ldap_override.nix in the examples folder.  This should fix your problem.  If this doesn't help you reopen this issue.

[2017-03-23 13:27] #116 closed

[2017-03-30 14:03] Perlence commented on #110
I don't see how libffi and openssl relate to missing "locale".

The problem comes from click package, as it tries to ensure that locales are set to UTF-8 by running `locale` command, which is missing.

[2017-03-31 09:07] seppeljordan commented on #110
I was running into a similar problem when I wanted to deploy a click based application with (numtide/nix-builder)[https://github.com/numtide/docker-nix-builder].  To solve this issue I also installed ``<nixpkgs>.glibc`` and ``<nixpkgs>.glibcLocales``.  Then, when starting the container, I do something like this:
[code]
When you build your docker image with the nix function buildDockerImage, then y

[2017-03-31 09:22] Perlence commented on #110
@seppeljordan Thank you very much!

[2017-04-05 14:26] blakesweeney opened #117 "Error when running pypi2nix command on obonet"
# Description

The setup.py file is trying to read the readme file to create the long description, but the readme isn't in the downloaded files. If I run pypi with `-E pandoc` this still crashes because pandoc cannot read the file.

# Traceback

[code]

[2017-04-06 14:15] seppeljordan commented on #117
This sounds like an issue with ``obonet``.  To work around this you could try something like this in your ``requirements.txt``

[code]
This would download the source from the git and you'll probably have the ``README.md``

Ping me ( @seppeljordan ) or reopen this issue if you still need help or you think that this is NOT an issue with obonet but an issue with pypi2nix.

[2017-04-06 14:15] #117 closed

[2017-04-06 16:58] blakesweeney commented on #117
That still doesn't work. I am now getting:

[code]
I think this is because nix changed something about how it computes hashes with git clones a while ago. At least I recall that happening and it would explain what is going on here. Do I need to update nix, or is this a problem with pypi2nix?

[2017-04-10 19:55] garbas commented on #117
this worked for me

[code]

[2017-04-10 20:20] blakesweeney commented on #117
Thanks this fixed the issue! Thanks for making pypi2nix it is really
helpful!

Blake

[2017-04-10 21:27] garbas commented on #110
i think this issue was solved. please reopen if i'm wrong

[2017-04-10 21:27] #110 closed

[2017-04-10 21:28] garbas commented on #104
i'm closing this issue since a solution is provided. please open if this i'm wrong.

[2017-04-10 21:28] #104 closed

[2017-04-12 13:04] plumps opened #120 "Error when running pypi2nix command"
Running pypi2nix to convert https://bitbucket.org/gocept/gocept.gtimelog/src/32cf4bbc5f9e42a6d4d9652cdfb4f6621deab369/buildout.cfg?at=default&fileviewer=file-view-default to a set of nix-expressions

[code]

[2017-04-12 15:52] garbas commented on #120
@plumps hey!

I have to update versions from buildout.cfg to get this working. and I sent the PR.

https://bitbucket.org/gocept/gocept.pytestlayer/pull-requests/3/nixify

[2017-04-16 03:28] ryantrinkle opened #121 "Cannot build wheel for unittest2"
# Description

Installing unittest2 seems to fail, due to [their issue #84](https://code.google.com/archive/p/unittest-ext/issues/84).  This isn't a problem with pypi2nix, but I'm not sure how to deal with it.  Is there a way to tell pypi2nix to avoid a particular package?

<detailed description of error # Traceback

[code]

[2017-04-16 14:40] ryantrinkle opened #122 "IPv6 may cause trouble"
When running with ipv6 enabled, pypi2nix hangs for long periods while trying to connect.  This may be a problem with my machine, my network, my ISP, or something else, but I'm mentioning it here at @garbas' request in case it is an issue with pypi2nix itself.

[2017-05-25 06:29] nlewo commented on #121
This error comes from pip and I was not able to find an option in pip to tell it to exclude some packages. However, as a workaround, you can use a binary package, but I don't know exactly what it implies...
[code]

[2017-05-26 01:05] matthewbauer opened #126 "wxPython on MacOS error when running pypi2nix"
# Description

<detailed description of error # Traceback

[code]

---

So I'm thinking I need an override in this case, but how do I do it? This is the file in requirements_override.nix but it doesn't seem to be applying:

[code]

[2017-05-31 11:26] RobBlackwell opened #128 "Error when running pypi2nix command"
# Description

<detailed description of error # Traceback

[code]

[2017-06-02 00:44] matthewbauer commented on #126
/cc @garbas Any ideas or hints?

[2017-06-03 14:55] seppeljordan commented on #126
It looks like you need xcode.  Try
[code]

(I am not on darwin, so I don't know if `<nixpkgs>.xcode` is a thing.

[2017-06-08 00:15] res0nat0r opened #129 "ValueError: ZIP does not support timestamps before 1980"
Hi,

It seems that my pypi2nix generated library `mrjob` is throwing the above error when using pypi2nix version `1.8.0`. I've seen some references to this in older issues but don't seem to have an exact fix or workaround right now.

[code]
I'm able to supply any of the generated requirements files if needed for debugging.

Thanks!

[2017-06-08 17:57] garbas commented on #129
@res0nat0r yes, please generated requirement.nix would be awesome. i tried running `` pypi2nix -e mrjob -v -V 2.7`` but at current location i'm at pypi.python.org timeouts

[2017-06-08 18:07] res0nat0r commented on #129
Hi @garbas, here is everything:

https://gist.github.com/res0nat0r/49a3d88f851592a3253645a57878af58

[2017-06-09 10:55] garbas commented on #129
@res0nat0r I built for me ok when i tried to build against:

1. nixpkgs master

[code]

2. nixpkgs unstable channel

[code]

[2017-06-10 23:35] garbas commented on #126
@matthewbauer I have same problem as @seppeljordan and don't have access to Darwin machine. But your pypi2nix command is missing `-E` parameter and system dependency of ``wxPython``.

I will close this ticket but please reopen it if it is not solved.

[2017-06-10 23:35] #126 closed

[2017-06-10 23:36] garbas commented on #122
for last months i couldn't reproduce this. i'm going to close this ticket but i will reopen it if some networking issues occur.

[2017-06-10 23:36] #122 closed

[2017-06-10 23:41] garbas commented on #121
huh, i'm a bit late to reply to this issue but nevertheless. with nix we must require python package to be built from source since binaries (aka wheels) would in some cases (eg. lxml) break silently.

To resolve this issue you need to point to source distribution. You can point directly to tarball in ``requirement.txt`` as shown in ``example/Makefile``.

[2017-06-10 23:41] #121 closed

[2017-06-10 23:44] garbas commented on #128
Hi @RobBlackwell, sorry for a time to response but life is happening too fast in last months for me.

To package python package which require system dependencies (like mathplotlib) you need to specify which system package are needed. This is explained in [Non-python/system dependencies](https://github.com/garbas/pypi2nix#id4) section in ``README``.

In the case of ``mathplotlib`` you need run:

[c

[2017-06-10 23:44] #128 closed

[2017-06-10 23:45] garbas commented on #129
I'm closing this ticket, but please re-open it if you can not get your build to work.

[2017-06-10 23:45] #129 closed

[2017-06-10 23:49] garbas commented on #120
actuall PR is actually here https://bitbucket.org/gocept/gocept.gtimelog/pull-requests/9/nixify-using-pypi2nix

@plumps I dont have time to push this further. I hope i showed you that it is possible.

[2017-06-10 23:49] #120 closed

[2017-06-11 00:04] res0nat0r commented on #129
Hi,

Sorry for the late response. I should note that this does actually build fine for me also, but running
the mrjob with option `local` throws the zip error above. It seems the zip module is only being used in this mode, is that because pypi2nix is not setting the proper timestamp on the module when building,  or could the problem lie elsewhere?

Here's a simple script that can be run for testin

[2017-06-11 00:30] garbas commented on #129
@res0nat0r this is what Nix does to all of the files in ``/nix/store`` it sets the timestamp to EPOH + 1second. It is weird that myjob would depend on that. I would consider this clearly a bug in myjob.

[2017-06-16 08:18] alicebob opened #131 "`python3` symlink"
In the generated requirements.nix there is a symlink made from the specific python interpreter (`python3.5m`) to `python`. Could it also make a `python3` or `python2` symlink?

[2017-06-16 09:31] seppeljordan commented on #131
That is currently not planned, you could try something like the following:
[code]

This would put you inside an environment that provides a symlink named `python3` to the generated python interpreter.

[2017-06-16 09:34] seppeljordan commented on #131
@alicebob I am closing this for now, but if you need further help, reopen the issue.

[2017-06-16 09:40] alicebob commented on #131
That works great. Thanks for the help!

[2017-06-16 12:00] garbas commented on #131
@seppeljordan i see no reason why we shouldn't implement this, you know of any reasons why we should do that?

[2017-06-16 12:05] seppeljordan commented on #131
@garbas For me thats fine.  I can do that.

[2017-06-16 12:16] garbas commented on #131
Tnx! I suppose we can do a release after that. If you want i can take care of that

[2017-06-16 15:32] #131 closed

[2017-06-21 14:00] stefano-m opened #133 "Enable private PyPI repositories"
Hello,
thanks for creating pypi2nix!

It would be great if pypi2nix could fetch packages from repositories other than pypi.python.org

This would be similar to what one can do with pip's `--extra-index-url` (using `--trusted-host` if needed).

At the moment one can "trick" pypi2nix by adding the options directly in `requirements.txt`, e.g.

[code]

**However** pypi2nix will attempt to fetch the pr

[2017-06-27 19:21] umazalakain opened #134 "Building python packages with utf-8 characters in their setup.py breaks"
I'm trying to build `django-localized-fields` for Python 3.6:

[code]

The `requirements.nix` derivation is generated correctly, but building it with `nix-shell requirements.nix` throws an exception:

[code]

I suspect this hasn't anything to do with pypi2nix and is rather related to nixpkgs, but I'm not sure what's happening. As far as I'm aware, Python 3 defaults to decoding files using UTF-8. T

[2017-06-27 19:23] unaizalakain commented on #134
(To make it clear: I don't understand why it tries to decode it using ASCII.)

[2017-06-27 19:29] unaizalakain commented on #134
Sorry, I just came across https://github.com/garbas/pypi2nix/issues/52

[2017-07-03 20:57] exarkun opened #135 "unittest2 (apparently) cannot be built into a wheel"
Building another project with a dependency on unittest2:

[code]

Indeed, unittest2 has some funky non-string object for its `version` in `setup.py`.

The result is that trying to package up anything that depends on unittest2 fails.

[2017-07-04 12:54] exarkun opened #136 "Neither Automat nor linecache2 can be built with pypi2nix"
[code]

Automat setup_requires m2r and setuptools-scm but pypi2nix doesn't appear to notice so doesn't include these in the closure (?).

[2017-07-04 12:59] garbas commented on #136
I'm closing this since it has been discussed many times. no solution is currently available since this information is not available in metadata.json of the wheel we generate.

If somebody want to look into this please start looking how we can include info in pip/setuptools

[2017-07-04 12:59] #136 closed

[2017-07-04 13:01] exarkun opened #137 "Some --help descriptions are missing a space somewhere"
eg
[code]

"installationto" -> "installation to"

[2017-07-04 14:22] exarkun commented on #121
How does pointing to a source distribution fix this?  pypi2nix can find the unittest2 source distribution all by itself without any help.  The problem is pypi2nix cannot build a wheel for unittest2 because of unittest2 setup.py weirdness.

[2017-07-04 14:25] exarkun commented on #135
Duplicate of #121 I guess but I don't understand why that issue is closed.

[2017-07-05 10:10] #137 closed

[2017-07-05 13:51] stefano-m opened #140 "pypi2nix 1.8.0 always generates files named requirements.nix requirements_frozen.txt"
# Description
Given a pip requirements file named `test_requirements.txt`, running
[code]
generates
- `requirements_frozen.txt`
- `requirements.nix`
- `requirements_override.nix`

If files with the same name exist in the folder, they will be overwritten.

# Expected behavior

`pypi2nix` generates files named after the requirements file its been passed to (e.g. `test_requirements.nix`) or at least

[2017-07-05 14:38] seppeljordan commented on #140
Hey, thanks for reporting.  Unfortunately this is not that simple:  First of all, there is not always a `requirements.txt` file.  pypi2nix can also be called by passing the desired packages to it via command line arguments.
[code]
In this case, it is nice to know the filename of the generated nix expression file in advance.  Also it is possible to call pypi2nix with multiple `requirements.txt` fil

[2017-07-05 14:38] #140 closed

[2017-07-05 16:42] stefano-m commented on #140
@seppeljordan thanks for your reply and for the tip about `--basename`

I would ask you to reconsider the issue so that existing files are not overwritten as this may cause major inconveniences.

Many thanks.

[2017-07-06 21:19] emorikawa commented on #18
For those coming in from Google on this error, it's very possible there are in fact files that have corrupt touch dates older than 1980. This raises when the mtime of a file in the packaging tree is older than 1980. This even happened for me when zip_safe was set to False

You can see if you have any of these files with: find . -mtime +13700 -ls

My fix was to `touch` offending files and exclude s

[2017-07-14 16:12] seppeljordan commented on #27
#138 does this already, but this is not the default behavior right now.

[2017-07-17 06:50] rowhit opened #141 "[Permission Denied]: pypi2nix error"
#+begin_src bash
pypi2nix -V "3.5" -r requirements.txt
#+end_src

I receive the following error. I am not sure what is wrong?

Traceback (most recent call last):
  File "/nix/store/km8nica4k1vad1f370kkp7ww585k9rfl-pypi2nix-1.8.0/bin/.pypi2nix-wrapped", line 3, in <module>
    pypi2nix.cli.main()
  File "/nix/store/km8nica4k1vad1f370kkp7ww585k9rfl-pypi2nix-1.8.0/pkgs/click/core.py", line 722, in __

[2017-07-17 07:16] #141 closed

[2017-07-17 10:06] garbas commented on #141
@rowhit i landed a patch some time ago for this error and is currently available on master.

[2017-07-17 14:49] seppeljordan opened #142 "travis-ci builds are broken"
The issue seems to be that the nix configuration file @ `/etc/nix/nix.conf` does not exist.
[example log file](https://s3.amazonaws.com/archive.travis-ci.org/jobs/254041432/log.txt?X-Amz-Expires=30&X-Amz-Date=20170717T144759Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170717/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=1c88819e9e16d2009d200097765

[2017-07-18 14:31] seppeljordan commented on #27
@garbas do we want the inclusion of nixpkgs-python overrides to be the standard behavior?

[2017-07-18 14:41] seppeljordan commented on #106
Just for the record and documentation of this issue:

There is a problem with find-links and pypi2nix.  Currently we cannot detect where pip got the source code of a python package from, if there is more then one possibility.  Let's say we have something like the following:

[code]

To my knowledge there is no way of knowing if the flake8 was downloaded from pypi or example.com after the fact.  Ei

[2017-07-18 21:01] garbas commented on #142
https://github.com/travis-ci/travis-build/pull/1112

[2017-07-18 23:36] garbas commented on #142
- looks like osx is broken so i comment it out in .travis.yml``
- /etc/nix folder now needs to be created

pushed this 2 fixed to master

[2017-07-18 23:36] #142 closed

[2017-08-02 16:22] datakurre opened #144 "How to use to automate dependency management for a developed package with setup.py"
I have a custom Python package with setup.py.

If I have already published the package at PyPI, I could use pypi2nix for creating requirements.nix with simply ``pypi2nix -e mypackage``.

But if I have not, I have to copy package dependencies from setup.py ``install_requires`` into requirements.txt.

Is this correct? How could I avoid duplicating dependencies manually into setup.py and requirements

[2017-08-03 09:31] seppeljordan commented on #144
I don't know if I understand correctly but if you have a dependency that is not on pypi you can simply point to the source repo like this:

[code]

Just change the URI to the git repo with you own.

[2017-08-03 09:49] datakurre commented on #144
Does that also work with "file://"?

I'm sorry for not being very clear. I'd like to try pypi2nix to help packaging custom Python packages, but I'm worried about the need to manually manage the list of package dependencies in three places: setup.py (install_requires), requirements.txt and default.nix (propagatedBuildInputs).

On 3. elokuuta 2017 klo 12.32 +0300, Sebastian Jordan <notifications@git

[2017-08-03 11:06] seppeljordan commented on #144
Yes, this also works with file:// but then you have to have a `requirements.txt` of some sorts.  Let's say you have 2 packages, A and B.  Both these packages live on your hard drive and are NOT on pypi.  A is a dependency of B.  Now you want to build package B with pypi2nix.

In the setup.py for B you have
[code]

When defining your package set with pypi2nix you would do probably something like th

[2017-08-03 12:16] garbas commented on #144
in current master there is also this nice feature which i added, but i'm still testing it if it works. you could do:

[code]

[2017-08-03 12:19] garbas commented on #144
I usually put my dependencies in ``requirements.txt`` and then read it from setup.py ([example](https://github.com/mozilla-releng/services/blob/master/src/releng_tooltool/setup.py#L16))

[2017-08-08 22:54] seppeljordan opened #146 "travis-ci builds for osx are broken again"
Hey, I commented out osx builds for now.  It seems to be an issue with SSL. :(

[2017-08-09 11:11] seppeljordan opened #148 "Allow pypi2nix to cache and reuse wheels"

[2017-08-24 19:35] ckauhaus opened #150 "infinite recursion encountered on circular dependencies"
If some setup.py dependency has a circular dependence to another package, the resulting Nix code encounters infinite recursion on evaluation. In my opinion, pypi2nix should detect and break circles in the depdendency graph (or at least fail with a clear error message).

Minimal example: import `ZODB`.

setup.py:
[code]

Problematic result in requirements.txt (extract):
[code]

[2017-08-27 14:43] seppeljordan commented on #150
Hi, thanks for the bug report.  I will look into this.  Do you know good reference implementations for this kind of stuff (by any chance)?

[2017-08-28 07:18] ckauhaus commented on #150
It would be worthwhile to look into PIP's implementation. Circular dependencies are correctly handled by PIP.

[2017-08-28 08:46] garbas commented on #150
@ckauhaus The root cause for this is current state of python tooling in nixpkgs. We can ofcourse solve this in pypi2nix and break the circles, but then you will have to know which project to pull from generated pythonPackage. It would be better to break the dependency circles in Nix and then everything will work in any situation. Rework of python tooling in nixpkgs is in plan for 2.x which develop

[2017-08-28 11:53] ckauhaus commented on #150
Ok, let's wait for the general fix.

@garbas But I don't understand you work-around suggestion. Given I have a package P which imports ZODB. ZODB and BTrees import each other (circular dep). I would have to remove ZODB from BTrees' dependencies for example. So this means to tweak propagatedBuildInputs of BTrees' nix expression. But in order to apply the fix override in requirements_override.nix, t

[2017-09-06 16:37] wfranzini commented on #129
Hi,

I had the same problem running `python ./setup.py bdist_wheel`  but I've found that the work around
is documented in the nixpkgs manual in the python section https://nixos.org/nixpkgs/manual/#python-setup.py-bdist_wheel-cannot-create-.whl

Thank's for pypi2nix :-)

[2017-09-10 19:23] datakurre commented on #144
@seppeljordan @garbas Thanks a lot for your help.

I did look into parsing setup.py with AST and got reasonable good results, but at the end I decided to be ok with Rok's latest feature:

    $ pypi2nix -V 3 -e "./#egg=mypackage"

With that I only need to maintain requirements.txt for list of private package URLs (packages not available at PYPI).

[2017-09-10 19:23] #144 closed

[2017-09-19 22:58] garbas opened #152 "set SOURCE_DATE_EPOCH to 315532800 in buildPythonPackage"
This would prevent errors like ``ValueError: ZIP does not support timestamps before 1980`` and #129.

Probably we should first implement #98 where we would copy python's nixpkgs generic functions and distribute them with pypi2nix

Prior to implementing this we should also investigate why it was not done before in nixpkgs.

[2017-09-25 01:53] teto commented on #150
same problem here with https://github.com/donnemartin/gitsome :(

[2017-10-15 12:10] razvan-panda opened #154 "No dependencies generated for the package word_cloud"
I ran: `pypi2nix -V "3.5"` inside `word_cloud` cloned folder and then tried to use it in `/etc/nixos/configuration.nix` by adding the file to system package list:

    (python35.withPackages (ps: with ps; [notebook ipykernel numpy toolz tensorflow Keras pandas matplotlib seaborn] ++ (builtins.attrValues (import ./word_cloud.nix { inherit pkgs; }).packages)))

Not sure if this is the correct way to

[2017-10-16 12:15] razvan-panda commented on #154
@puffnfresh figured out that this will generate the file correctly:

    pypi2nix -V "3.5" -e 'https://github.com/amueller/word_cloud/archive/master.zip#egg=wordcloud' -E pkgconfig -E libpng -E freetype -E libjpeg

[2017-10-16 12:39] razvan-panda commented on #154
After that we added some overrides to it (because it was failing to build the dependencies):

[code]

and then added a reference to the file inside `environment.systemPackages`:

    (python35.withPackages (ps: with ps; [notebook ipykernel ipywidgets toolz tensorflow Keras pandas seaborn] ++ (builtins.attrValues (import ./wordcloud.nix { inherit pkgs; }).packages)))

and it installed correctly.

[2017-10-16 12:40] #154 closed

[2017-10-30 13:12] flokli opened #156 "pypi2nix doesn't resolve -r includes in requirements.txt"
A `requirements.txt` containing something like the following is currently not resolved:

[code]

This might be related to #91.

[2017-11-16 03:20] garbas commented on #156
@flokli i believe this should be working. would you be able to provide a broken example in `examples/` folder so we don't hit this regression again.

[2017-11-16 03:46] garbas commented on #154
@razvan-panda you shouldn't be mixing different pythonPackages. This probably works just by pure luck and will sooner or later break.

[2017-11-28 19:04] psychok7 commented on #18
@emorikawa any idea how we could get these corrupt touch dates? i removed the files that `find . -mtime +13700 -ls` showed and it works now. but i have several other files with a 1970 date

[2017-12-01 19:23] sorki commented on #135
Hitting this as well, workaround from #121 doesn't seem to help

[2017-12-04 01:25] unode opened #162 "Name resolution error while installing pytest-runner"
Seems like one of the dependencies tries to fetch a package and runs into a DNS error.
This is 100% reproducible on my system (NixOS) and fetching that URL manually works fine so I can only assume the error is due to nix's sandboxing.

[code]
[code]
[code]

[2017-12-04 10:56] garbas commented on #162
Hi @unode,

The real error is actually hidden at the end :)
[code]

I assume this a ``build_requires`` of ``json_rpc`` package. We have no way of detecting this dependencies (for now). We would probably have to fix setuptools to also include ``build_requires`` in egg-info which we parse to gather information about dependencies.

For now i would suggest to either:
(1) remove pytest-runner from setu

[2017-12-04 10:56] #162 closed

[2017-12-09 16:17] sorki commented on #135
nixpkgs seems to postPatch around this with
[code]

Relevant https://github.com/pypa/packaging/pull/36

"A type check would be fine by me." - I'm glad I've moved from python to haskell..

[2017-12-10 01:36] onethirtyfive opened #163 "jsonschema and vcversioner"
Hi there,

This is more of a request for "what do I do?" than an issue with pypi2nix.

i want to use "jsonapi-client", which in turn depends on "jsonschema" and "async_timeout", which in turn depends on "vcversioner" as a dependency. Here's some context and related issues:

https://pypi.python.org/pypi/nexus_uploader/1.0.10 (ctrl+f  "pip install - Download error")

And the author of jsonschema say

[2017-12-10 02:32] onethirtyfive commented on #163
I should add that I had to move to `nixos-unstable` (18.03-pre), so that may have somehting to do with it. (I hope not.)

[2017-12-10 04:08] onethirtyfive commented on #163
So I learned today that the old `setup_requires` stuff can really give you a headache. I fixed my own issue with in `requirement_overrides.nix`:

[code]

There were two competing libraries (`jsonapi-requests` and `jsonapi-client`) which I wanted to investigate, but in trying to set up `jsonapi-requests`, I would need to override `setup_requires` on both the library AND its deps, and it still didn'

[2017-12-10 04:08] #163 closed

[2017-12-10 22:21] garbas commented on #163
@onethirtyfive tnx for fixing your own issue :) sadly we don't (yet) have a good fix for ``setup_requires`` stuff.

I am now thinking we should actually include your patch for every python packages, since in 99% it is exactly what you want to do. what do you think @blueyed, should we add this?

[2017-12-10 22:24] garbas commented on #135
@sorki @exarkun hopefully soon we will be able to collect such patches in https://github.com/garbas/nixpkgs-python/blob/master/overrides.nix and then we might already provide fixed for most used packages.

in your ``requirements_override.nix`` you need to add above mentioned ``sed`` in ``patchPhase``.

[2017-12-11 00:58] onethirtyfive commented on #163
Just a thought. One of the deps which I `sed`ed `setup_requires` out of then used an optional parameter defined by one of the things it was `setup_requiring` later in setup.py.

Take a look here: https://github.com/jd/tenacity/blob/master/setup.py#L18-L20

Merely editing out the `setup_requires` part of things will cause an indeterminate number of problems with all the libraries out there. It migh

[2017-12-12 14:54] jokogr commented on #135
Seems I hit this, too :D

I have created a file called `overrides.nix`:

[code]

and run the following (tried with Python v2.7, too):

[code]

but I am still getting errors similar to the ones that @exarkun mentioned.

@garbas any clues?

[2017-12-15 13:25] makefu opened #164 "Error when running pypi2nix command"
# Description

I am trying to package `homeassistant` with pypi2nix.

<detailed description of error # Traceback

[code]

[2017-12-15 19:33] garbas commented on #164
@makefu you would need to use `-s pytz` while i would be happy to explain why this doesn't work automatically i would have to remember painful days when figuring this out :)

Also I already packaged `homeassistant` but only basics in case you are interested to collaborate on it

https://github.com/garbas/nixpkgs-python/tree/master/homeassistant

[2017-12-15 19:33] #164 closed

[2017-12-15 21:06] makefu commented on #164
@garbas Thanks for the quick reply, i will try out your package (and of course also try to freeze it myself). Imho, especially for complex project the only way to keep up with the releases is to freeze all dependencies in place. 👍
I am a marked child after https://github.com/NixOS/nixpkgs/pull/32602 and https://github.com/NixOS/nixpkgs/pull/32637 respectively :)

[2017-12-15 21:21] makefu commented on #164
Btw, wouldn't it make sense to make https://github.com/garbas/nixpkgs-python an overlay? that way one could very easily include packages into own configurations.

[2017-12-15 21:23] garbas commented on #164
@makefu yes, it should be an overlay, actually each python "set" should be its own overlay somehow. haven't had time to do it

[2017-12-15 21:25] garbas commented on #164
@makefu also feel free add different python sets to `nixpkgs-python` via PR. once you because a maintainer of a set you get the push permission.

currently we have travis running the pypi2nix on our sets and updating them automatically.

[2017-12-15 21:34] makefu commented on #164
i saw the travis setup already, nicely done! i will try to get the overlay running first and once everything works i will start hacking.

[2017-12-15 21:43] garbas commented on #164
💯 feel free to ping me on irc if you get stuck

[2017-12-15 21:54] garbas commented on #135
/me looks closer

[2017-12-15 22:05] makefu commented on #164
i tried to include the overlay like this:
[code]
however it seems that `pkgs.pythonNEXT.homeassistant` is a set instead of a derivation. What would be the correct way to actually use homeassistant (or any other set) with nixpkgs to actually build a systemd service upon the packages?

https://github.com/garbas/nixpkgs-python#usage is mysteriously empty ;)

[2017-12-20 04:05] sid-kap opened #165 "No module named 'numpy' when building statsmodels"
I'm getting the following error when trying to make a nix file for statsmodels:

[code]

Do you know why this is happening? I thought by including pythonPackages36.numpy it would be able to find it.

[2017-12-20 11:28] garbas commented on #165
@sid-kap hola!

1. you shouldn't use pythonPackages from nixpkgs and mix it with pypi2nix stuff. results can work sometimes, but sometimes it will blow up and it is almost impossible to debug it.

2. it looks to me that `numpy` is needed at build time (even before we hit setup.py), something that is also true for [scipy](https://github.com/garbas/pypi2nix/blob/master/examples/Makefile#L218) which

[2017-12-20 11:28] #165 closed

[2017-12-20 18:44] sid-kap commented on #165
@garbas Thanks so much!!

[2017-12-23 12:18] tigrus opened #166 "No space left on device"
Looks like this problem caused more by pip, but what is workaround?

[code]

[2017-12-26 10:50] garbas commented on #166
@tigrus looks like you ran out of space in ``/run/user/1000/pypi2nix`` which is used as caching folder. You have 2 options, either (1) remove ``/run/user/1000/pypi2nix`` or (2) run pypi2nix with ``-C/--cache-dir`` option pointing to a place which you know has enough space.

I'm closing this issue, just to keep review list clean, but please feel free to reopen it if it doen't solve your problem or

[2017-12-26 10:50] #166 closed

[2017-12-27 22:21] moretea opened #167 "Building face_recognition fails on scipy"
HI,

I'm trying to package the face_recognition python pacage, but am unable to build scipy.

I've included the overrides for scipy, but that does not appear to help.

Any suggestions on how to continue debugging this?
[code]

[2017-12-28 22:10] megfault opened #168 "Invalid cross-device link"
I want to package a project I have done (https://github.com/megfault/aDTN-python/) and ran the following instruction:
[code]
requirements.txt contains the following packages:
[code]
Nix expressions were generated successfully and then I ran:

[code]
which produced the following error(s):

[code]

[2017-12-28 23:08] makefu commented on #168
At the Congress we debugged the issue and it might be related to the explicit include of `python3Packages.cffi`. Here at the congress there were a lot of transient network errors which resulted in failed packaging.

The final commands were:
[code]

The issue can be closed

[2017-12-28 23:13] garbas commented on #168
@megfault @makefu thank you.

yes you shuldn't mix pythonPackages from nixpkgs. we should probably add a check for this and warn about it. it makes things go 💥 unexpectedly 😄 .

[2017-12-28 23:13] #168 closed

[2017-12-29 00:28] garbas commented on #167
@moretea welcome to the wonderful word of python packaging. The problem you are seeing is that ``numpy`` is a build time dependency of  ``scipy``, but there is no way in to tell this before running ``setup.py`` 😃

Anyway for this purpose you use ``-s numpy`` option which will install ``numpy`` before trying to install your ``requirements.txt``.

I'm closing this issue since I think the above solut

[2017-12-29 00:28] #167 closed

[2018-01-14 08:06] kovkev opened #170 "pypi2nix -r requirements.txt is very slow every time"
Hi garbas/pypi2nix!

Thanks to the contributors for this nice package!

I am trying to use it to install some python packages for a project inside nixos.

Everytime I run `pypi2nix -V "3.5" -r requirements.txt` (sometimes with a few `-E ...` in there), I will see something akin to:

    [vagrant@nixbox:~/making_money]$ pypi2nix -V "3.5" -E python35Packages.ipython -E libffi -E openssl -r requireme

[2018-01-15 22:20] garbas commented on #170
@kovkev to have a more verbose output use `-v` option, eg. `pypi2nix -v -V "3.5" -r requirements.txt`

That should output a bit more and will be showing you more details what it is happening.

[2018-01-15 22:20] garbas commented on #170
I'm closing the issue since i think above suggestion should help you, if not, please reopen the issue.

[2018-01-15 22:20] #170 closed

[2018-01-19 05:04] aaronlevin-stripe opened #171 "Error when running pypi2nix command"
# Description

I just tried running pypi2nix on a large project at work. unsure why it says `pkg-config` is not installed or if that's just a red-herring.

[code]

[2018-01-19 15:08] garbas commented on #171
Hi @aaronlevin-stripe,

`matplotlib` package depends on some system dependencies which you should *just know* when building it :) with `pypi2nix` you add this dependencies with `-E` flag ([example](https://github.com/garbas/nixpkgs-python/blob/master/Makefile#L126)).

Would it be possible to include your `requirements.txt` file and I can give it a try to package it.

[2018-01-19 23:38] garbas commented on #171
@aaronlevin-stripe also I might be a bit off-grid next week since I'm moving to the new apartment. I would rather work on this then assembling ikea, but wife has other priorities and we all know who is the boss :)

[2018-01-20 03:19] garbas opened #173 "when using --default-overrides use fetchtarball instead of fetchgit"

[2018-01-20 06:06] aaronlevin-stripe commented on #171
@garbas that seemed to fix it. I have a new issue related to `-e` git dependencies and credentials, but I'll submit that later. I'll close this for now!

[2018-01-20 06:06] #171 closed

[2018-01-20 06:06] aaronlevin-stripe commented on #171
thanks for the quick response / help! :)

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-20 13:17] garbas commented on #170
@kokev did above suggestion helped?

I also noticed that I didn't reply about the slowness. Pypi2nix currently builds wheels on every run and doesn't cache them. #149 should address this but some more work needs to be put before merging it.

[2018-01-24 17:02] seppeljordan commented on #173
I don't quiet understand why we would change that.  `builtins.fetchTarball` break reproducibility and `fetchgit` works just fine in my opinion.  Also this would mean that we would have to download nixpkgs-python everytime the user evaluates the nix expression they generated using pypi2nix, or am I missing something here?

[2018-01-25 06:31] aaronlevin opened #175 "`python` produced by `nix-shell` cannot run project (missing `click` dep)"
on a fresh clone:
[code]

I see `click` is available in the checked-in `requirements_frozen.txt` so maybe something just needs to get put into `propogateBuilInputs` or some equivalent. I'm not sure. I don't know enough about the project or python.

[2018-01-31 20:40] garbas commented on #173
@seppeljordan we would require fetchtarball point to revision and provide hash.

[2018-02-09 21:38] garbas commented on #173
This is now fixed with #177

[2018-02-09 21:38] #173 closed

[2018-02-09 21:56] garbas commented on #91
as of today pip-compile is still not compatible with all requirements.txt specs. closing this ticket for now.

[2018-02-09 21:56] #91 closed

[2018-02-09 22:02] garbas commented on #150
@ckauhaus sorry, i've been a bit away last months. here is what i did to get vulnix working

override: `https://github.com/garbas/pypi2nix/blob/master/examples/vulnix_override.nix`
[pypi2nix command](https://github.com/garbas/pypi2nix/blob/master/examples/Makefile#L436)

[2018-02-09 22:02] #150 closed

[2018-02-09 22:04] garbas commented on #133
@stefano-m sorry for long reply. last months have been extremely busy.

i wonder if information from where the package was downloaded is stored somewhere in metadata.

[2018-02-09 22:13] garbas commented on #135
this is actually a problem with upstream ... it was also reported at https://github.com/pypa/setuptools/issues/409

[2018-02-09 22:39] garbas commented on #135
ok this is how i got it working.

1. I had to clone ``unittest2`` and apply the [patch](https://github.com/garbas/unittest2/commit/b70f4cddd32a03fc96f816c9d7faa91f3fcf661f) mentioned above.

2. i point to my custom version of `unittest2` in `requirements.txt` as
[code]

3. I needed to add few `--setup-requires` parameter when runnning the pypi2nix command. the final command looked like
[code]

4.

[2018-02-09 22:39] #135 closed

[2018-02-09 22:41] garbas commented on #134
@umazalakain i think this might actually be fixed already in pypi2nix. since we already set `LANG` variable in `python.mkDerivation`. I'm closing this issue for now. please reopen if it is still occurring.

[2018-02-09 22:41] #134 closed

[2018-02-09 22:42] garbas commented on #106
related to #133

[2018-02-09 22:48] garbas commented on #106
I opened a question on pip regarding this https://github.com/pypa/pip/issues/5024

[2018-02-09 22:49] garbas commented on #102
This ticket is done. @blueyed can I also get permission to do a release on pypi.python.org? my username there is garbas as well.

[2018-02-09 22:49] #102 closed

[2018-02-09 22:50] garbas commented on #27
i think lets do this with 2.0 version. i was hoping we can also revisit some cli UX

[2018-02-09 22:50] #27 closed

[2018-02-09 23:45] garbas commented on #133
I opened a question on pip regarding this pypa/pip#5024

[2018-02-10 12:46] seppeljordan commented on #102
hey, the pypi package is currently owned by me @seppeljordan and not @blueyed . I'll give you access

[2018-02-10 20:01] garbas commented on #102
@seppeljordan sorry i meant to to ping you. was clicking on github too much yesterday :) tnx.

[2018-02-17 22:13] #148 closed

[2018-02-23 13:34] seppeljordan opened #178 "pypi2nix hangs when creating nix expression with git repo twice in a row"
What is wrong?

When executing pypi2nix with a requirements file that contains a git source a la `git+https://github.com/garbas/pypi2nix.git` pypi2nix will work just fine.  But when executing a second time, pypi2nix won't work and hang indefinitly while trying to download the source code from the git repo.

Possible reasons

I think that pip tries to ask the user what to do with already existing r

[2018-02-26 07:56] garbas opened #180 "nix 2.0 update broke our logic in pypi2nix"
can we avoid this in the future?
can we make it work for both nix 1.* and 2.*? if not lets only support 2.0 since this is what is in unstable.

[2018-02-26 10:43] #180 closed

[2018-02-26 11:37] #178 closed

[2018-03-02 12:33] seppeljordan opened #185 "*_override.nix gets wrong filepath in generated *.nix file in some instances"
Check out the following snippet from a generated package set in my custom overlay.  I execute pypi2nix from a parent directory so I modify the base name of via `--basename 10-python3Packages/python3`.  If I do so pypi2nix correctly generates file called `python3.nix` inside a subdirectory called `10-python3Packages`.  Unfortunately means also, that the path in the generated nix file for the overri

[2018-03-02 17:18] #185 closed

[2018-03-07 15:41] tilpner opened #187 "Error reporting fails with "414 Request-URI Too Large""
Running

[code]

fails with

Answering `y` opens a new tab that currently loads to an nginx error page reading

`pypi2nix --version`: 1.8.1

[2018-03-07 15:47] tilpner commented on #187
Curiously, `pypi2nix -V 3.6 -e cffi` opens to a `500 Internal Server Error`

[2018-03-09 14:20] das-g opened #188 "Error when running "pypi2nix -V 3.6 -e fiona" inside nix-shell"
# Description

## To reproduce:
On NixOS 17.09:

1. `nix-shell -p pypi2nix`
2. in that nix-shell: `pypi2nix -V 3.6 -e fiona`

(It's my first time using pypi2nix, so I'm not sure whether I'm invoking it correctly.)

# Traceback

[code]

[2018-03-09 14:36] das-g commented on #188
I guess I have to make GDAL headers available to pypi2nix somehow?

[2018-03-09 14:48] das-g commented on #188
works with

    pypi2nix -V 3.6 -e fiona -E gdal

:smiley:

closing the issue, sorry for the noise

[2018-03-09 14:48] #188 closed

[2018-03-09 21:36] garbas commented on #188
@das-g :+1:  I also sometimes use issue tracker to "self"-answer my problems :)

[2018-03-15 18:19] Fuuzetsu opened #189 "requirements.txt-listed dependency not available in setup.py"
# Description

Make `requirements.txt` such as:

[code]

[code]

There's numpy in requirements.txt of pywavelets, I think the issue is that it's used it setup.py itself.

[2018-03-15 18:25] Fuuzetsu commented on #189
On master:

[code]

[2018-03-15 19:12] jonafato commented on #189
This is a common issue with packages that depend on `numpy`. The solution is to pass the `-s numpy` option to `pypi2nix`. See [this comment](https://github.com/garbas/pypi2nix/issues/167#issuecomment-354379722) for a similar issue and solution.

[2018-03-17 21:32] garbas commented on #189
@jonafato thank you for helping out :)
@Fuuzetsu here is the working example for `scipy` and `numpy` -> https://github.com/garbas/pypi2nix/blob/master/examples/Makefile#L376

[2018-03-17 21:32] #189 closed

[2018-04-14 22:47] takeda opened #190 "Is there a reason that pypi2nix is still insisting on downloading sdist when a wheel package is available?"
I have a private repo (and modified pypi2nix source code to use it instead the standard pypi.org) in that repo I have some packages that are exclusively installed as wheels, the pypi2nix refuses to continue until sdist (tar.gz) files are also present.

[2018-05-05 23:21] colemickens opened #192 "Upgrade pip to 10.0.1 (and wheel and setuptools)"
I need an upgraded `wheel`/`pip` to package the latest `azure-cli`.

[2018-05-06 23:01] PierreR opened #193 "Infinite recursion with docsearch-scraper"
I am trying to build `docsearch-scaper` from the provided [requirement.txt.](https://github.com/algolia/docsearch-scraper/blob/master/requirements.txt)

[code]
But then when I try the suggested command:
[code]

[2018-05-07 10:37] PierreR commented on #193
I have just realized that `Scrappy` is enough to reproduce the error:

.requirement.txt
[code]
→ pypi2nix -r requirements.txt -E "libxslt libxml2 libffi gcc openssl" -V "2.7"

[2018-05-07 10:49] PierreR commented on #193
Actually digging a bit, `Twisted==17.5.0` is enough to reproduce the error. This time trying with python 3.6:
→ pypi2nix -r requirements.txt -E "libxslt libxml2 libffi gcc openssl" -V "3.6"

[2018-05-08 20:27] jamesthompson commented on #192
I need this too @colemickens - I'm not an expert pythonista, but let me know if there's anything you need to test out / help with.

[2018-05-08 21:30] colemickens opened #194 "Help packaging `azure-cli`"
Hello.

I'm trying to package `azure-cli` for NixOS with an overlay using `pypi2nix`.

The very latest version(s) seem to rely on `pip-10.0` (hence me filing https://github.com/garbas/pypi2nix/issues/192) but I'm not sure they would've actually broken compatibility with older versions of pip, especially since I'm using `requirements.txt`.

Here's what I'm running:
[code]

Here's the output: https:

[2018-05-09 01:57] jraygauthier opened #195 "How to get a python interpreter with a subset of the packages defined in `requirements.nix`?"
I see I can easily get a python interpreter using `(import ./nix/requirements.nix { inherit pkgs; }).interpreter` with all my requirements packages. However, I would like to get a development `nix-shell` environment or a production (depending on less packages) `nix-shell` based on an flag passed to `shell.nix`, a bit like I was able to achieve using `python.withPackages (pp: [...]). It no longer s

[2018-05-09 09:59] garbas commented on #190
@takeda yes, we actually need to enforce downloading sdist since wheel will not work with nix. but we build wheels only one time and they get placed in a cache folder.

in a long run we should probably provide wheels cache that works with nix.

i hope i answered the reasoning behind this if not please reopen the ticket

[2018-05-09 09:59] #190 closed

[2018-05-09 10:00] garbas commented on #192
@colemickens @jamesthompson i'm on a parental leave right now, but i'm back to work in ~2 weeks and i can look at it then. if you get a working solution please open a PR. if everything is green i can merge it

[2018-05-09 10:03] garbas commented on #193
@PierreR twisted has some circular dependencies (zope.interface if i'm not mistaken). you need to remove some dependencies which are causing this (in your `requirements_override.nix`) like it is done here for example -> https://github.com/garbas/nixpkgs-python/blob/master/overrides.nix#L54

[2018-05-09 10:05] garbas commented on #194
@colemickens hey, i don't have time right now to look deeper into this, all i can promise is to come back to this in 2 weeks (if this is still the problem).

[2018-05-15 03:43] jraygauthier commented on #195
@garbas Thanks for your prompt reply. As you proposed, I opened 2 distinct PRs, on for each new feature. This tool is really nice. Good job!

[2018-05-23 22:55] flokli commented on #156
@garbas This still is the case. Added a failing example as PR in #198.

[2018-05-28 01:34] ivanbrennan opened #199 "How to expose argcomplete functionality?"
When packaging a CLI tool that depends on [argcomplete](https://github.com/kislyuk/argcomplete), listing `python.packages."argcomplete"` in `propagatedBuildInputs` allows the CLI build and run, but registering the shell completions requires running:
[code]
and argcomplete's `register-python-argcomplete` command is not available. It _is_ available if I drop into a nix-shell in the CLI project direc

[2018-05-28 13:06] ivanbrennan commented on #199
I was able to install argcomplete using the same store-path that my CLI is using by creating an `argcomplete.nix` file in the same directory:
[code]
and installing with `nix-env --install --file argcomplete.nix`.

I'm still curious how I might write my CLI derivation to include the argcomplete executables among its outputs. Would that run contrary to the Nix way of doing things?

[2018-06-03 22:13] garbas commented on #192
closing this since i made some progress in #200

[2018-06-03 22:13] #192 closed

[2018-06-14 14:51] jraygauthier commented on #195
@garbas : any comments about the PRs?

[2018-06-15 14:16] jraygauthier commented on #195
@seppeljordan : Thanks for merging #195. That indeed answer the main question. What do you think of the `overrides` argument proposal in #197 ? Do you think it would be a good idea?

[2018-07-05 12:27] ghost opened #205 "Output option"
Please add an output option like "-o <path>", so I could easily define the path to create requirements* files

[2018-07-05 20:30] krey opened #206 "does pypi2nix respect $http_proxy/$https_proxy"
Here's my output

[code]

[2018-07-07 21:47] haposik opened #207 "Error running pypi2nix command"
Platform: darwin
Command: `pypi2nix -v -V 3.5 -s numpy -r requirements.txt -E gfortran -E blas -E pkgconfig -E freetype.dev -E libpng`

Part of error message:
building 'matplotlib.backends._macosx' extension
      clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -I/usr/local/include -I/usr/X11/include -I/opt/X11/include -I. -I/nix/store/dzf4pnx6kv0ywjpr85ks5

[2018-07-07 22:09] haposik commented on #207
Also i tried to remove matplotlib from requirements.txt and leave only numpy and scipy.

The error of building scipy wheel was the next:

scipy/special/c_misc/struve.c:86:10: fatal error: 'cephes.h' file not found
      #include "cephes.h"
               ^~~~~~~~~~
      1 error generated.

[2018-07-11 17:53] matthew-piziak opened #208 "Cannot build beancount due to lxml failure"
This error occurs even if `libxml2` in installed in NixOS.

[code]

[2018-07-11 18:50] jonafato commented on #208
You need to specify `libxml2` and `libxslt` as extra build inputs, e.g.

[code]

Unfortunately, this results in an infinite recursion that looks like it's caused by an `extras_require` dependency (`beautifulsoup4`) in `lxml` ([source](https://github.com/lxml/lxml/blob/0ef938692ea222d1b15939e0356739b895e883dd/setup.py#L74)). If you remove `self."beautifulsoup4"` from the `propagatedBuildInputs` sec

[2018-07-11 19:46] jonafato commented on #208
If you run the command in my comment above, it'll be in your current working directory. Here's my local copy with the edit to remove the recursive dependency:

<details>
<summary>requirements.nix (click to expand)</summary>
<p>

[code]
</p>
</details>

[2018-07-11 20:04] matthew-piziak commented on #208
That works! Thank you @jonafato! :tada:

[2018-07-12 20:23] offlinehacker opened #209 "Error: Unable to find release for package"
Hi, i'm trying to generate `requirements.nix` for apache airflow, since i want to use 1.10.0rc1 version, which is not yet on pypi, i have to use the following `requirements.txt` file:

[code]

I had to specify librabbitmq version 1.6.1, since newer one does not compile and the same for python-daemon and flask-caching does not seem to have source published for version 1.3.3 on pypi, only wheel file

[2018-07-12 20:24] offlinehacker commented on #209
Any help would be appreciated, since i'm struggling for several days trying to generate and would really like to use docker image build with nix instead of some ubuntu based image, thanks!

[2018-07-26 14:09] garbas commented on #209
@offlinehacker hey! sorry i was busy weeks. I will look at this shortly.

[2018-07-26 14:10] garbas commented on #208
@jonafato :100: for providing help.
@matthew-piziak i assume this can be closed, correct?

[2018-07-26 14:10] #208 closed

[2018-07-26 14:13] garbas commented on #207
@haposik I don't have access to any darwin machine. I hope I will get one shortly to try to package numpy on darwin myself.

Until then I suggest you try to look at nixpkgs what all numpy, scipy, matplotlib depends on in case of darwin platform and add those packages via `-E` option

[2018-07-26 14:16] garbas commented on #206
@krey pypi2nix does not respect `$http_proxy/$https_proxy`. since - as you can see - we run `nix-shell` command with `--pure` flag. I think we should create a whitelist of environment variables which should be passed down to nix-shell. Would you be willing to implement this?

[2018-07-26 14:22] garbas commented on #199
@ivanbrennan I would manually create a symlink for this binary in postInstall step in your default.nix. IN other words you have to manually select which scripts are part of your "my-cli" derivation. eg:

[code]

something along above lines.

[2018-07-26 14:23] garbas commented on #187
i think we would have to use some sort of pastie servis to upload traceback and link it in error report.

@tilpner would you have time to implement this?

[2018-07-26 18:38] matthew-piziak commented on #208
@garbas Correct, thank you!

[2018-08-08 17:40] glasserc opened #214 "Add --default-overrides to the README"
I knew something like this existed but I didn't find it in the documentation (only the --help text).

[2018-08-08 17:46] glasserc opened #215 "Maybe add SOURCE_DATE_EPOCH trick to the README"
This is covered in the [Nixpkgs manual](https://nixos.org/nixpkgs/manual/#python-setup.py-bdist_wheel-cannot-create-.whl) but maybe it would be good to specifically call it out here in a FAQ, since anyone reading this is at a higher likelihood of needing to know this and having an example handy would be good.

[2018-08-15 13:38] winpat opened #216 "Installing Pillow fails even with zlib a external dependency"
I've been really enjoying pypi2nix. It solves all the weird quirks that nix introduces into python development. Thanks for this amazing tool!

There is however one pypi package that I could not get to run. When installing pillow[1]:
[code]
I get:
[code]
I am not sure whether this caused by pypi2nix or if it's nixpkgs problem. Maybe you have a tip?

[1] - https://pillow.readthedocs.io/en/latest/

[2018-08-16 16:09] glasserc opened #217 "Detect setuptools_scm and add it to buildInputs"
I recently hit a bunch of packages that depend on `setuptools_scm` such as [apipkg](https://github.com/pytest-dev/apipkg/blob/master/setup.py#L16) and [dockerflow](https://github.com/mozilla-services/python-dockerflow/blob/master/setup.py#L18). Building anything with these packages as dependencies fails with an error like this:

[code]

This was baffling to me (a new Nix user) for a while before I

[2018-08-18 22:05] mkawalec opened #218 "Cannot coerce function to a string"
Hey,

I'm trying to use the generated `requirements.nix` with my own env file and I'm getting the following error
[code]

Here's the nix file where I import the requirements
[code]

[2018-08-19 13:27] jb55 commented on #217
I keep hitting this as well

[2018-08-23 06:26] garbas commented on #217
@glasserc @jb55 hey! i'm aware of this issue. for now we just try to ignore it and strip it out from setup.py, if possible.

I have a solution in mind but 0 time to work on it. instead of building wheels (in setup1.py) we should build egg-info. initially i thought that this metadata between formats is the same, but was wrong, since it doesn't include setup_requires and few other fields.

If somebo

[2018-08-23 06:28] garbas commented on #218
as stated in README, you shuldn't mix match python packages from nixpkgs and generated ones.

[2018-08-23 06:30] garbas commented on #216
There is an example for pillow => https://github.com/garbas/pypi2nix/blob/master/examples/Makefile#L319

I hope you can decode that from Makefile

[2018-08-23 06:30] #216 closed

[2018-08-23 06:32] garbas commented on #205
:+1: i like to have that option as well.

for the time being you can run pypi2nix from that folder or copy over generated files.

I near future I don't see having time to work on this, but if somebody feels like implementing this i can help with a promptly review.

[2018-08-23 15:27] mkawalec commented on #218
@garbas how would I depend on, say, pygobject3 in this case without using a system-wide package?

[2018-08-23 16:36] garbas commented on #218
@mkawalec i'm not familiar with the pygoobject3 dependencies, but you can specify system dependencies via `-E` options. if there is more configuration needed please bring it up and we can add those options.

[2018-08-28 02:49] clojurians-org opened #220 "how to installs a GPL dependency (unidecode)."
i use the following command to generate nix code:

[code]

[2018-08-28 11:50] winpat commented on #216
@garbas Thank you! This fixed my problem.

[2018-08-30 04:43] CMCDragonkai opened #221 "Nix Search Path Error"
My `$NIX_PATH` is:

[code]

When running `pypi2nix` on 1.8.1, it gives me a warning:

[code]

What does this mean, and why would it ignore it? How can it work without knowledge of the nixpkgs? Or if it doesn't need it then, why read it in the first place?

[2018-08-30 04:47] CMCDragonkai opened #222 "Sharing derivations/packages with the Nixpkgs python packages"
Nixpkgs already has a big set of python packages that are manually written. It seems that pypi2nix ignores these packages when it is generating its set of packages.

I've used the cabal2nix and it resolves this by not fully specifying the dependencies of the given package, but instead expects those packages to be passed in from the nixpkgs hackage set.

Is there a way to do this with `pypi2nix` so

[2018-09-05 01:27] marsam commented on #220
This is check on airflow setup https://github.com/apache/incubator-airflow/blob/master/setup.py#L38-L54
you can use `--extra-env` to pass the required environment variable `pypi2nix  --extra-env "AIRFLOW_GPL_UNIDECODE=yes" ...`

[2018-09-05 01:32] marsam commented on #209
This happens because Flask-Caching 1.3.3 only has a [wheel release](https://pypi.org/project/Flask-Caching/1.3.3/#files), and currently pypi2nix does not support wheels

[2018-09-09 23:26] spinus commented on #217
not perfect but I'm using a lot of requirements_override a lot and works :)

[2018-09-09 23:28] spinus commented on #206
I'm not a big fan of reimplementing the same in every app. @krey is tsocks not working?

[2018-09-09 23:30] spinus commented on #193
that removeDependencies is nice, could we add this to std pypi2nix lib?

[2018-09-09 23:31] spinus commented on #193
btw, I would close this one as it's not directly pypi2nix related, it's just crazy dependencies

[2018-09-09 23:34] spinus opened #223 "Allow arbitrary python version"
Currently pypi2nix has fixed set of python versions. Would really like to have -V to set arbitrary version, even if it's not in pypi2nix yet (but is in nixpkgs). That could be actually "stupid" and just replace the string without any autodetection whether that version is supported in nixpkgs or not.

[2018-09-10 02:55] CMCDragonkai commented on #222
The main feature is that cabal2nix makes use of the callPackage pattern.

[2018-09-10 06:15] clojurians-org commented on #220
thanks, the check passed!

it seems flask-caching have only wheel package:
[code]

[2018-09-10 19:49] garbas commented on #222
@CMCDragonkai the question you asked is valid especially coming from haskell universe where while things are not perfect are much easier to package, or in the worse case you know at build time that packages don't fit together.

which dependencies get included in nixpkgs python set is up to human work of judging what should fit together. in python world this is done in setuptools/pip/pipenv/poetry

[2018-09-10 19:50] garbas commented on #221
this is a nix specific error. i'm seeing it also with other nix commands.

[2018-09-10 19:50] #221 closed

[2018-09-10 19:54] garbas commented on #220
@clojurians-org in this cases you need to find a source distribution and put it in your `requirements.txt` so that it gets precedence when pip is looking for flask-caching.

put this somewhere in your `requirements.txt`
[code]

I would also suggest you ping the upstream to upload the source otherwise you will have to manually bump the version yourself.

[2018-09-10 19:57] garbas commented on #222
I think initial work is already being done with `interpreterWithPackages` in https://github.com/garbas/pypi2nix/pull/204

[2018-09-10 20:08] garbas commented on #133
@takeda i'm sorry, this is not on my priority. but if somebody needs it and wants to work on it i can offer mentoring and review.

[2018-09-11 19:29] garbas commented on #223
@spinus :+1: yeah we should loosen this. care to provide a PR for this?

[2018-09-11 19:32] garbas commented on #193
@spinus yeah that wouldn't be bad idea, probably we only need to add it to the [this template](https://github.com/garbas/pypi2nix/blob/master/src/pypi2nix/templates/requirements.nix.j2)

[2018-09-11 19:32] #193 closed

[2018-09-11 21:12] garbas commented on #209
@offlinehacker sry forgot to come back to this issue, as @marsam said you need to point to source distribution in your requirements.txt file. [example here](https://github.com/garbas/pypi2nix/issues/220#issuecomment-420039229)

[2018-09-11 21:12] #209 closed

[2018-09-12 19:12] glasserc opened #224 "Cannot install `wheel`: unable to find metadata.json/pydist.json"
To reproduce:

[code]

I'm trying to install this because I want to use `zest.releaser[recommended]`, which is the mechanism used to cut releases by some projects I work on. `zest.releaser[recommended]` depends on `wheel`.

I tried to short-circuit whatever was happening and use the `wheel` in nixpkgs using e.g. `pypi2nix -V 3.6 -E python36Packages.wheel -e 'zest.releaser[recommended]'` but this d

[2018-09-13 10:36] oscarvarto opened #225 "ipykernel fails to build"
Running the following

[code]
with the following `requirements.txt`:

[code]

**As long as any dependency needs ipykernel**, I am getting the following error:

[code]

I am using NixOS 18.03 on unstable branch.

[2018-09-13 12:51] PierreR opened #226 "Error when running pypi2nix command"
# Description

<detailed description of error # Traceback

[code]

[2018-09-13 13:01] PierreR commented on #226
Just realize I need `which`

[2018-09-13 13:01] #226 closed

[2018-09-13 19:26] garbas commented on #225
@oscarvarto looks like ipython is setup requires of ipykernel. with pip you would usually first install ipython and then install ipykernel. with pypi2nix it is possible to specify setup required using `-s` option. so your command should be

[code]

[2018-09-13 20:59] garbas commented on #224
@glasserc this is a known issue. i took few minutes and hack something together in #227

[2018-09-13 21:02] oscarvarto commented on #225
Trying with the following variation of requirements.txt:

[code]

And the following invocation of pypi2nix:

[code]
succeeds at Stage 1, but fails immediately after starting Stage 2, with the following:

[code]

I tried this after trying your suggestion, that also failed complaining about `jupyter_client`. If I include `ipython` in the requirements, then it complains about not finding `ipython`.

[2018-09-19 21:06] mstone commented on #209
Two notes here:

1. this is now fixed upstream for Flask-Caching but
2. if you do need to do a similar workaround again in the future, be sure to match the case of the egg name in the URL you create; i.e.,

https://github.com/sh4nks/flask-caching/archive/v1.3.3.zip#egg=Flask-Caching not
https://github.com/sh4nks/flask-caching/archive/v1.3.3.zip#egg=flask-caching

(This appeared to matter for me wh

[2018-10-01 12:51] bstuder opened #228 "Support "3-Clause BSD License""
Seen in [protobuf (3.6.1)](https://pypi.org/project/protobuf/)

[2018-10-02 17:51] cwp opened #230 "Error when running pypi2nix command"
# Description

Building Pandas fails because it can't find NumPy headers. It's hard to tell if the `-I` option that is passed to clang is correct, because `clean` gets run for pandas before the failure is reported.

# Traceback

[code]

[2018-10-04 21:55] cwp opened #231 "Generate override notes instead of exiting when a package fails to build"
When a package fails to build, pypi2nix currently exists with the message "Error: While trying to run the command something went wrong." It would be much more useful to generate incomplete nix expressions, which can then be overridden to add the missing package(s).

Ideally pypi2nix would recover after the failed build and generate a comment in the overrides file to indicate that the package needs

[2018-10-08 14:43] guaraqe-da opened #232 "Allow `pypi2nix` to be called from inside Nix"
Currently, `pypi2nix` uses `nix-shell` internally, which makes impossible to use from inside Nix, in a manner similar to `cabal2nix`. It would be nice to have this functionality, since that would make possible to Nixify python packages in a single step.

[2018-10-08 17:27] Twey opened #233 "Can't run on portalocker because pypi2nix's setuptools is too old"
# Description

Some packages require a newer version of setuptools than is provided with the Python, but pypi2nix doesn't seem to provide a way to upgrade the packages provided before running its commands.  E.G. portalocker:

# Traceback

[code]

[2018-10-09 08:39] garbas commented on #233
@Twey thank you for reporting the issue.

I have tried some time ago to update the dependencies (https://github.com/garbas/pypi2nix/pull/200) but without any luck since it revealed some places of pypi2nix which need more work, but so far we were postponing it since it was kinda working.

anyway, i'm working on fixing this issue, but due to my day time work load it is hard to give any estimation wh

[2018-10-09 09:06] garbas commented on #232
`cabal2nix` works quite differently and that is because of how packaging works in haskell ecosystem.

I currently don't see any way of disable `nix-shell` in `pypi2nix`, but if you have suggestions (and PRs) I'm definitely listening.

Reason I don't see a way to not use `nix-shell` is that the only reliable way to get a dependency tree for a python package/project is to install it. Now some packag

[2018-10-09 09:52] garbas commented on #231
There are options in pypi2nix to fix what is being described in #230. I added a comment there.

I don't find half baked generated nix expression useful at all since it most likely not only misses one package but also all the package the skipped package would depend on. I would rather work on making pypi2nix be able to install all packages one way or the other way.

But if you find this useful I ca

[2018-10-09 09:52] #231 closed

[2018-10-09 09:59] garbas commented on #230
it looks like `numpy` is required by `pandas` before installing it. the same things is happening with `scipy`. you would need to use `-s` option (`-s numpy`) which would first install numpy and then try to install your project.

look for more examples of how to run pypi2nix in `examples/Makefile`

I'm closing this for now, but please reopen it if the suggestion doesn't work.

[2018-10-09 09:59] #230 closed

[2018-10-09 17:56] cwp commented on #230
Adding `-s numpy` does work. Thanks!

However, it seems the scipy example is broken, at least on darwin:

[code]

[2018-10-09 17:58] cwp commented on #230
Adding `-s numpy` does work. Thanks!

[2018-10-24 18:36] glasserc opened #234 "No matching distribution found for psutil; platform_python_implementation == "CPython" or sys_platform != "win32" and extra == "test""
Running `pypi2nix -v -V 3.7 -e gevent` fails:

[code]

I ran it once and it worked, but then after that it stopped working. Not sure why. Different code path for downloading it the first time, maybe?

[2018-10-24 18:37] glasserc commented on #234
https://github.com/gevent/gevent/blob/master/setup.py#L370 is where `gevent` depends on `psutil`.

[2018-10-24 18:41] glasserc commented on #234
Looking at this more, maybe my example is wrong because it uses `-e`. What I'm actually trying to do is package a project that has `gevent==1.3.2` in its requirements.txt.

[2018-10-24 20:19] glasserc commented on #234
However, doing `pypi2nix -V 3.7 -s psutil -r requirements.txt` seems to work. Maybe this is just user error, or maybe this is a request for pypi2nix to recognize more stuff in setup.py files?

[2018-10-27 15:49] netixx opened #235 "pypi2nix fails to run on macOS X"
Hello,

I am trying to use pypi2nix to build a package on macOS X but it fails to start pypi2nix.

Here is the output I have:
[code]

It seems to be an issue with wrapping since it seems to work when I do the following
[code]

System info:
[code]

[2018-10-31 11:49] garbas commented on #235
@netixx I don't have a osx machine so I can only try to help you via this chat

what is the content of `/Users/francois/.nix-profile/bin/pypi2nix`, I wonder why that binary is not patched.

[2018-10-31 12:02] netixx commented on #235
No problems, I hope we find a solution !

Here it is !
[code]

It seems to be correct (setting pythonpath and exec the actual `pypi2nix-wrapped`). The shebang in `/nix/store/a2riypwnfakg2babpwqbjaw4z4gmn52j-pypi2nix-1.8.1/bin/.pypi2nix-wrapped` seems to be causing the problem (the `python` is actually another script like the `pypi2nix`).
[code]

[2018-11-01 20:59] netixx opened #236 "Build package that depends on a specific version of wheel"
Hello,

I have the following problem, I am trying to build a package `imdbpie` (from `Medusa` requirement) and it depends on a specific version of the `wheel` (0.30.0) whereas nixpkgs `wheel` is 0.31.0.

I have the following error (it tries to uninstall the builtin wheel to downgrade it):
[code]

How can we solve this ?

I had the following ideas, but I don't know how to implement them:
- create a

[2018-11-15 16:49] jraygauthier commented on #222
It is actually quite easy to do this right now from a `requirements_override.nix` file:

[code]

will use `opencv3`,  `numpy`, `scypy` and `scikitimage` from nixpkgs and use `callPackage` from nixpkgs to build a local custom version of `pytest-asyncio`.

note that you must make sure that `pkgs.python3Packages` match the version of python you chose when launching pypi2nix.

[2018-11-15 17:04] jraygauthier commented on #222
You will then be able to create a python interpreter which has packages coming from both `requirements.nix` and `nixpkgs`:

[code]

[2018-11-16 10:59] spinus commented on #236
@netixx for some packages those requirements are too strict. What I'm doing quite often is I'm adding buildPhase (I'm overriding it in requirements_override) to remove such constraint.

Example:
[code]

[2018-11-16 12:37] garbas commented on #236
@netixx for now answer that @spinus is best what we can do. I hope in the future we will be able to better detect this.

I'm closing this issue since there is plan to address this, but there are other more urgent changes to be done first. please reopen if you still have troubles overriding.

[2018-11-16 12:37] #236 closed

[2018-11-16 12:43] garbas commented on #222
@jraygauthier problem with your approach is that python dependencies resolution happens in pypi2nix and you are betting that things will work when you put more dependencies together.

we need to add a support to pypi2nix to reuse PYTHONPATH for certain packages in nixpkgs.

I personally I'm not going to work on this since I rather create specific overrides, but i can understand some people would l

[2018-11-19 23:32] layus opened #238 "Error when running pypi2nix command on azure-* packages"
# Description

This error happens with `pypi2nix -V "3.6" -e azure-mgmt-subscription`, which is a mwe on the path to `pypi2nix -V "3.6" -e azure -e cffi==1.11.5 -e wheel==0.30.0 --default-overrides -E libffi -E openssl`.

It seems that azure-* packages rely on some `azure_bdist_wheel` that wraps `bdist_wheel`. Most probably, pypi2nix interferes in that setup.

The core part is

[code]

related/dup

[2018-11-19 23:39] layus commented on #194
@colemickens @garbas Maybe have a look at #238.

It seems we need to use the bdist_wheel wrapper provided by `azure_bdist_wheel.py` so that `'azure-namespace-package'` option gets recognized.
Not too sure how to achieve that, because we explicitly do not install the wheel package (IIUC).

[2018-11-19 23:49] colemickens commented on #238
Hey @layus, just wanted to give you a heads up, someone built an overlay for the Azure CLI 2.0, maybe this will help you in the meantime: https://github.com/stesie/azure-cli-nix (It was working well for me until recently, but I think it's an issue on my end...)

[2018-11-27 16:13] djahandarie opened #240 "Version update & nixpkgs update?"
Heya! I see you bumped version to 2.0.0 recently, but am actually quite interested in the dependency update that happened right after that (to get a new version of pip) — could you do a 2.0.1 release?

Also, nixpkgs seems to be pointing to a fairly old commit, it be nice to have that updated as well! https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/pypi2nix/default.nix

[2018-11-27 19:21] cwp commented on #235
I've run into this too. It doesn't happen when I install the version in nixpkgs, but if I install from a git clone as described in the README. I get this error too.

The problem seems to be the *python wrapper* that .pypi2nix-wrapped uses in its shebang line. If I rewrite the shebang to use the unwrapped python interpreter, (ie, the bare interpreter binary) it works fine.

[2018-11-30 22:41] glasserc commented on #224
This seems to work OK now; closing.

[2018-11-30 22:41] #224 closed

[2018-12-01 02:51] garbas commented on #156
@flokli thank you for the test. i finally managed to get around it and merge your PR (#198). it looks like this should be now fixed. can you confirm?

I will close the ticket but please reopen it if this is not the case.

[2018-12-01 02:51] #156 closed

[2018-12-01 03:02] garbas commented on #240
@djahandarie @jraygauthier hey! I haven't yet release 2.0.0 I just bumped the version. What I usually like to do (before releasing) is use, successfully, new version of pypi2nix in my projects at work and also make sure nixpkgs-python builds are green again. This ensures some sense of stability. I hope to finish work on this next week and cut the release.

[2018-12-01 03:02] #240 closed

[2018-12-01 03:31] garbas commented on #235
@netixx @cwp can you check if current version of master works for you?

[2018-12-01 03:45] garbas commented on #235
We should also enable building pypi2nix on osx on travis. currently it is disabled since i had troubles getting cachix to work there.

[2018-12-01 04:07] garbas commented on #238
@layus looks like the problem is that azure-cli doesn't work with wheel>0.30.0 (as you already tried to mitigate by passing `-e wheel==0.30.0`) but the catch is that you have to use `-s` option and this will allow you to override wheel version which is shipped with pypi2nix.

the following command generated the expression successfully for me:
[code]

But it then fails to build since wheel used in

[2018-12-01 04:42] garbas commented on #234
@glasserc  this now works correctly with current master (just tested it).

please reopen if this is not the case for you.

[2018-12-01 04:42] #234 closed

[2018-12-01 04:45] garbas commented on #233
@Twey this should now be fixed on master (i tested it locally).

[2018-12-01 04:45] #233 closed

[2018-12-01 04:57] garbas commented on #232
I'm closing this issue since cabal2nix and pypi2nix work quite differently.

[2018-12-01 04:57] #232 closed

[2018-12-01 05:04] garbas commented on #225
closing this as it seems to be resolved, reopen if this is not the case

[2018-12-01 05:04] #225 closed

[2018-12-01 15:34] flokli commented on #156
@garbas I can't test this with the original codebase (don't have it anymore), but if the test passes now on CI (and it seems like), this should be good. Thanks!

[2018-12-02 10:31] garbas commented on #206
this would be easier implemented now with `nix run` and its option `--ignore-environment` and `--keep`

[2018-12-02 10:35] garbas commented on #222
as said and explained sharing derivations with nixpkgs is possible but not encouraged since you have no idea if versions of packages actually work together.

i'm closing this ticket now, since i think we exhausted the options, but if anybody cares more about this topic please reopen it and continue the discussion.

[2018-12-02 10:35] #222 closed

[2018-12-02 10:57] garbas opened #244 "extract python function (buildPythonPackage, fetchPypi, ...) from nixpkgs and ship them inside requirements.nix"
currently we depend on quite few things from nixpkgs, which makes it very hard to support multiple mulitple nixpkgs channels.

- [ ] copy all `mk-python-*.nix` and `build-python*.nix` expressions from `nixpkgs/pkgs/development/interpreters/python`
- [ ] copy and use fetchPypi funtion for downloading packages
- [ ] we should make it possible to use different versions of wheel/setuptools/pip when bu

[2018-12-02 10:58] garbas commented on #238
closing this issue since problem is much bigger and should be address as part of #244

[2018-12-02 10:58] #238 closed

[2018-12-02 11:00] garbas commented on #220
this should be now fixed since flask-caching now has source distribution

[2018-12-02 11:00] #220 closed

[2018-12-02 17:57] garbas commented on #207
@haposik do you have some time to get this working on osx? or should we close this ticket?

[2018-12-02 17:58] garbas commented on #215
@glasserc I guess we should link to the python section of the manual as a whole, right?

[2018-12-02 17:59] garbas commented on #199
I'm closing this issue since i think above mention example fixed the problem

[2018-12-02 17:59] #199 closed

[2018-12-02 18:01] garbas commented on #194
currently the problem is that azure-cli does not support latest wheel package and downgrading it is not yet possible.

[2018-12-02 18:01] #194 closed

[2018-12-02 18:01] garbas commented on #175
this should be now fixed

[2018-12-02 18:01] #175 closed

[2018-12-03 00:34] glasserc commented on #215
To be honest, I don't remember what situation exactly called for me to know the trick. I know you showed it to me in https://github.com/garbas/kinto-dist/commit/7a0a4d2a1756383469fa4f4e7ab05c4a44a8081c#diff-fff377a1587c681237d93e87660c4fceR8, but I don't think I've used it myself except when cutting releases. If it's necessary when building packages, then I think we should specifically mention it.

[2018-12-06 11:51] garbas opened #245 "don't leak information about filesystem in generated pypi2nix command"
Example

https://github.com/mozilla/release-services/pull/1730#pullrequestreview-182059740

[2018-12-13 16:37] mmai commented on #193
For those like me who stumble here and have a hard time reading nix syntax, here is how to use the _removeDependencies_ function :
[code]

[2018-12-13 18:39] glasserc opened #246 "Cannot install backoff: tomlkit-0.5.3.tar.gz is already being built"
I'm trying to build a project with a lot of dependencies, but I think I've narrowed it down to `backoff`.

[code]

I'm running pypi2nix master.

[2018-12-14 02:35] glasserc commented on #217
I guess this was https://github.com/garbas/pypi2nix/pull/241 ? But I don't really understand the circumstances in which it works -- I just tried with `apipkg` and `dockerflow` and neither picked up `setuptools_scm`. I guess it depends on whether the wheel includes a `setup_requires.txt`. Could you elaborate on what causes that `setup_requires.txt` to be present? I'm wondering if I should report it

[2018-12-14 02:47] glasserc commented on #217
Looking at this a bit more, it seems like `setup_requires.txt` is *never* present in wheels, just in eggs. So does this just work for eggs?

[2018-12-20 23:30] glasserc commented on #246
I think part of the problem is that tomlkit [depends on poetry](https://github.com/sdispater/tomlkit/blob/master/pyproject.toml#L51) and poetry [also depends on tomlkit](https://github.com/sdispater/poetry/blob/master/pyproject.toml#L37). pip seems able to install this cycle under normal conditions but I'm not sure how.

[2018-12-21 20:11] glasserc opened #248 "Cannot install dj-inmemorystorage: 'Header' object has no attribute 'startswith'"
The [LICENSE file for dj-inmemorystorage](https://github.com/waveaccounting/dj-inmemorystorage/blob/master/LICENSE) contains UTF8, and not ASCII. This causes the email header parsing logic to not return a `str` but rather a `Header`.

To reproduce: `pypi2nix -V 3.7 -e dj-inmemorystorage`

[code]

[2018-12-21 21:51] glasserc commented on #246
It seems like this is (at least in part) due to the `--no-binary :all:` flags on the `pip` commands. The pip documentation even says: "Note that some packages are tricky to compile and may fail to install when this option is used on them." I guess that might cover circular dependencies. I don't really understand enough about pypi2nix to understand why the `--no-binary :all:` flag is there, but I w

[2018-12-22 03:17] #248 closed

[2018-12-22 03:20] #215 closed

[2018-12-22 03:20] #214 closed

[2018-12-22 05:08] garbas commented on #246
I encounter the same problem with `backoff` package. problem is that `backoff` package switched to poetry for their packaging which is currently not working with pypi2nix. I haven't yet have time to dig deeper into this. For now I just pinned `backoff`to `1.6.0` where installation from source was still possible (https://github.com/mozilla/release-services/commit/bdebc7818475c6a3a8a60127b152cefc33b

[2018-12-23 23:00] garbas commented on #246
you can reproduce the above you can simple run:

[code]

This means you can not install tomlkit from source distribution

[2018-12-23 23:36] garbas commented on #246
Reported the problem upstream https://github.com/sdispater/poetry/issues/760 and https://github.com/litl/backoff/issues/67

[2019-01-23 06:55] cawilliamson commented on #246
Is there any workaround for this issue available at the moment?

I really want to deploy Apache Airflow (latest version) on NixOS using Nix but until this is resolved I simply can't progress with it and am forced to use an older version.

[2019-01-29 12:02] marco-c opened #251 "Parse requirements file using pip code"
This is more robust than the current manual parsing:
https://github.com/garbas/pypi2nix/blob/0498dac1c6c5ee445ed23056af0efb3e2358358d/src/pypi2nix/stage2.py#L459

And will also allow us to use a hash defined in the requirements to avoid redownloading the file at:
https://github.com/garbas/pypi2nix/blob/0498dac1c6c5ee445ed23056af0efb3e2358358d/src/pypi2nix/stage2.py#L351

[2019-01-30 19:26] bbarker opened #252 "Trouble running on pypi package sxapi"
I was able to run pypi2nix on other packages, but this one crashed pypi2nix, despite the apparent presence of a requirements.txt on their github repo:

[code]

[2019-02-06 10:11] garbas commented on #252
@bbarker looks like this is a problem with a source tarball that is on pypi. you can install directly from github like this:

[code]

[2019-02-06 10:11] #252 closed

[2019-02-11 20:35] rail opened #253 "Error when running pypi2nix command against mozilla-version"
# Description

Trying to nixify [mozilla-version](https://github.com/mozilla-releng/mozilla-version), I hit the following traceback. Removing the `--hash=...` lines fixes the issue. pip3.7 consumes the file as expected (without installing enum34).

# Traceback

[code]

[2019-02-17 17:32] softinio opened #254 "Support Python packages with no source (zip/tar.bz) distribution"
I ran:
[code]
and got this error:
[code]
It's true:

https://github.com/MetaMetricsInc/django-warrant/releases

So wondering if it would be possible in this situations for it not fail but get the latest source from master from github?

If you can give me some direction to onboard me on your code happy to help with a PR to implement this.

Thanks!

[2019-03-06 19:10] deliciouslytyped opened #255 "Generate (partial?) output on compilation failure anyway"
I'm using pypi2nix to assist me in generating python dependencies for a nix expression, but if one of the dependencies fails to build for some reason I can't get the result.

~~The concrete thing that's failing for me: ```pypi2nix -V "2.7" -e cuckoo -E openssl -E libffi -E pkgconfig -E zlib -E libjpeg -E openjpeg -E libtiff -E freetype -E lcms2 -E libwebp -E tcl -E python27```, this is failing on

[2019-03-08 17:21] deliciouslytyped commented on #255
For my concrete issue: `pypi2nix -V "2.7" -e sflock -E libffi -E openssl -E "pkgconfig zlib libjpeg openjpeg libtiff freetype lcms2 libwebp tcl"` fails on Pillow, but if i add `-e Pillow` it's fine.

[2019-03-11 03:40] deliciouslytyped opened #256 "pypi2nix sensitive to argument order?"
For some reason pypi2nix -V "2.7" -e sflock -E libffi -E openssl -E "pkgconfig zlib libjpeg openjpeg libtiff freetype lcms2 libwebp tcl" fails on a transitive dependency Pillow, but if i add -e Pillow it's fine.

(Note to self: I need to go back and elaborate on this.)

[2019-03-13 15:54] glasserc opened #257 "attribute 'certifi' already defined"
Given `frozen.txt` containing:

[code]

Running `pypi2nix -v -V 3.7 -s flit -s intreehooks -r frozen.txt`:

[code]

I've had similar experiences with `requests`. I guess maybe `flit` is causing its dependencies to be included alongside those from `frozen.txt`?

[2019-03-14 14:26] glasserc opened #258 "Could not find a version"
Certain combinations of packages seem to fail building using pypi2nix. The final error (above) seems to indicate that it couldn't find a certain package and that maybe there's something wrong with the upstream package, but more thorough examination of the log seems to indicate that collecting failed early and subsequent packages are just missing.

I can reproduce it using `pypi2nix -v -V 3.7 -E li

[2019-03-14 18:41] glasserc opened #259 "document how caching works"
Here is a command that should fail: `pypi2nix -v -V 3.7 -E libffi --default-overrides -r frozen.txt`

[code]

At first it fails:

[code]

Makes sense, I forgot to tell it about openssl. When you do that, it works:

[code]

OK, now let me go back to the first one because I want to study it some more:

[code]

Wait, it worked this time.

Shouldn't the different -E arguments cause a different hash of

[2019-03-15 14:38] garbas commented on #259
yeah, it would be nice to document it. but i'm not sure how to explain it without complicating it too much.

[2019-03-15 14:41] garbas commented on #258
@glasserc are you able to paste also the output when the order of two packages in frozen.txt is changed?

I'm assuming that different version of packages are pulled in. And requirements.txt are not deterministic so the order in those files is quite important.

[2019-03-15 14:51] garbas commented on #257
oh, this is really strange. I would need to dig deeper to understand why this happends. but for now i can confirm it.

[2019-03-16 00:00] #257 closed

[2019-03-16 00:01] garbas commented on #257
the PR i just merged looks like it fixes this. @glasserc can you confirm that?

[2019-03-16 00:07] garbas commented on #256
@deliciouslytyped is the same version of Pillow being downloaded? It is known that some version of Pillow don't work with pypi2nix

[2019-03-16 00:09] garbas commented on #255
I wouldn't consider this a default behavior but I would merge if somebody sends a PR and puts this behind some option.

I'm closing this issue, since I don't plan to work on it, but please ping me in the PR if you decide to implement it.

[2019-03-16 00:09] #255 closed

[2019-03-16 00:15] garbas commented on #254
@softinio it is possible to point in requirements.txt to a tar archive (don't forget to add `#egg=<name>` at the end). It is not possible to do this automatically as far as i can see it.

https://pip.pypa.io/en/latest/reference/pip_install/#requirements-file-format

[2019-03-16 00:15] #254 closed

[2019-03-17 15:24] glasserc commented on #258
It looks the same to me except for the obvious fact that `pycparser` happens before `entrypoints`.

[code]

[2019-03-17 16:04] glasserc commented on #257
This fixes it for this particular case. I have another case which it doesn't fix. `frozen.txt`:

[code]

Command:

[code]

I think `requests` is also duplicated in the `requirements.nix`.
I can open another issue if it isn't related.

[2019-03-19 16:00] marco-c opened #261 "Can't install spacy==2.1.0"
[code]

[2019-04-02 00:07] marco-c opened #262 "poetry can't be installed"
pkgconfig's build requires poetry, which can't be installed.

[2019-04-15 19:32] umazalakain commented on #216
@garbas I'm trying to install Pillow (current version 6.0.0, worked with 5.3) without much luck:

[code]

The generated `requirements.nix` contains the following:

[code]

When I run `nix-shell requirements.nix` I get the following:

[code]

[2019-04-15 19:35] umazalakain commented on #216
I forgot to mention that adding `zlib.dev` to the build inputs doesn't help either.

[2019-04-23 01:18] jtojnar commented on #258
I am able to reproduce this with mere `entrypoints==0.3` in `requirements.txt`:

[code]

[2019-04-23 18:21] glasserc commented on #257
Please ignore the previous comment, I tried it again today and it seems OK. No idea what changed.

[2019-06-07 19:49] seppeljordan commented on #251
My opinion on this is that we should not depend on a module with `internal` in its name.  I know that we currently do so in other places.  But we should work on not doing so instead of doing more of this.

[2019-06-11 21:41] rowhit opened #267 "[Build Fail]: Building apache-airflow fails"
I am new to pypi2nix. I did the following
[code]
For most part it seems to go smoothly but fails at python-daemon
[code]

[2019-06-11 23:32] o1lo01ol1o opened #268 "installation on darwin fails"
```nix-env -if https://github.com/garbas/pypi2nix/tarball/master```
  -> `OSError: AF_UNIX path too long`

On mojave:

[code]

[2019-06-13 14:12] jarradh opened #269 "Error when running pypi2nix command"
# Description
Attempted to run `pypi2nix -V "3" -e videogrep`
Seemed to fail building pillow ?

Dump too big for URI request, please find in gist.
https://gist.github.com/jarradh/3d575555a8983bab7dec7a5ec97d4c0d

I saw this issue is raised in a few places and requires to use a patch upstream?

[2019-06-15 01:33] o1lo01ol1o opened #270 "Can't invoke overrides (with `Rtree`?)"
using `pypi2nix -V 3.7  -O ./overrides.nix -e Rtree  -E libspatialindex`

and
`overrides.nix`:
[code]

I would expect to be able to build `Rtree` since the above is lifted from the current `nixpkgs` implementation, but I can't.

What's more, I can't seem to trigger any debug `trace`s in `overrides.nix` and so can't even determine if it's being used or not.  Am I doing something incorrectly?

# nix

[2019-06-18 08:33] seppeljordan commented on #270
Can you please also supply the generated `requirements.nix` file?

[2019-06-18 08:37] seppeljordan commented on #268
Hi, unfortunately I do not have the slightest idea of what is going on there and I also do not own a apple computer. sorry :(

[2019-06-26 13:40] timokau commented on #18
For the record, you can fix it with

[code]

Explicitly providing the new timestamp avoids relying on a outside timesource and makes it entirely reproducible.

[2019-07-06 20:31] georgyo opened #274 "stage 2 error: "argument after ** must be a mapping, not Wheel""
While trying to build zulip, I got the following error on stage 2.

[code]

My invocation is as such.

[code]

Where prod.txt is https://github.com/zulip/zulip/blob/master/requirements/prod.txt

[2019-07-06 22:44] seppeljordan commented on #274
Thanks for reporting that. I will look into it and fix this issue as soon as I get to it.

[2019-07-06 22:59] seppeljordan commented on #269
Hi.  I looked into this issue and think that the issue might be with us not handling external build inputs, like C dependencies not automatically.  The paste that you linked to suggests that "pillow" failed building with the error message

[code]
in [line 417](https://gist.github.com/jarradh/3d575555a8983bab7dec7a5ec97d4c0d#file-gistfile1-txt-L417).  You can tell pypi2nix to include `zlib` in the

[2019-07-07 15:18] seppeljordan commented on #267
Hi could you try that again with the current master version?  I have the suspicion that the error you described is due to a bug that was already fixed in the latest version.  You can installed the version from master with the following command

[code]

[2019-07-10 09:56] cdyson37 opened #275 "stderr should not be redirected to stdout"
This default is causing me some problems:

https://github.com/nix-community/pypi2nix/blob/46807cdbd595cd6e8eaac90d89ed330daca2787e/src/pypi2nix/utils.py#L42

In effect if a Nix command tries to warn me about something, I don't see the warning, instead something like `json.loads` fails further on. Unless the function is being called with the intention of displaying the text to the user, I think std

[2019-07-14 17:27] majewsky opened #276 "Unable to find release for package cairocffi of version file-.cairocffi-VERSION"
I'm trying to nixify https://github.com/taigaio/taiga-back with pypi2nix. I applied the following patch to work around https://github.com/Asana/python-asana/issues/80:

[code]

Now I'm getting this error:

[code]

I'm not sure what it's doing there with the cairocffi version. It should be:

[code]

Any ideas? I'm using pypi2nix 1.8.1 from the NixOS 19.03 channel.

[2019-07-15 06:34] seppeljordan commented on #276
Hi @majewsky,

thank you for reporting this issue.  Would you mind trying to generate a package set with the current version of pypi2nix on master?  You can simply install it on you local NixOS system via the following command:
[code]

I would appreciate hearing back from you how that went.

[2019-07-15 13:46] majewsky commented on #276
Thanks for the pointer. I installed master as of a580289, but unfortunately this gives a rather short output:
[code]

I couldn't say yes to the question because this is running on a headless server. (I don't have a desktop machine with NixOS at hand.)

[2019-07-16 09:22] seppeljordan commented on #276
Hey, would you mind rerunning the command with '-vvv' option?

[2019-07-16 13:42] majewsky commented on #276
That's quite a bit of output, so I put it in a gist: https://gist.github.com/majewsky/7a0fca4c4a56d14b37a13c6a9bd82622

Quoting the significant parts:
[code]

six is referenced in the requirements.txt, [but only after serpy](https://github.com/taigaio/taiga-back/blob/a9547c47e9ed66b46bbf117ecf2748b7e981156e/requirements.txt#L57) because of alphabetical order.

[2019-07-16 17:52] seppeljordan commented on #276
So I tested some things and came to the following conclusions:

1. **There is a bug in the setup.py script in `serpy == 0.1.1`.**  The setup.py script needs the `six` module to execute which is not installed in the pypi2nix environment.  This means that the setup.py script exits with an import error as seen above.  I would consider this a bug, but normally one could work around this with installin

[2019-07-16 20:33] majewsky commented on #276
As you expected, adding `-s six==1.12.0` doesn't seem to change anything. Anyway, I added the output to the gist for reference (https://gist.github.com/majewsky/7a0fca4c4a56d14b37a13c6a9bd82622#file-pypi2nix-2-out). It's way shorter than the previous run, but that's probably because of all the derivations that were already built in the previous run.

[2019-07-16 23:20] seppeljordan commented on #276
I cannot promise anything but I will try to get the `-s` flag working as intended again.  This issue will be updated as soon as progress has been made.

[2019-07-17 02:24] JonathanReeve opened #278 "Error when running pypi2nix command"
# Description

<detailed description of error # Traceback

[code]

[2019-07-19 06:14] seppeljordan commented on #278
Hi,

thanks for reporting this issue.  From the error message it looks to me like the source distribution of `flask-dropzone` erroneous.  Could you please execute the following command within a fresh **virtual environment** and post the output to this thread?

[code]

Thanks

[2019-07-21 22:50] dasJ opened #279 "Error when running pypi2nix command"
Whatever the autogenerated stuff did… command was `pypi2nix -V 3.6 -r requirements.txt` in a fresh checkout of https://github.com/frappe/erpnext

# Description

<detailed description of error # Traceback

[code]

[2019-07-25 04:47] dirn commented on #268
I haven't had a chance to dig into this too deeply, but the error is caused by using Black's `--diff` flag. If I remove that from `checkPhase`, I'm able to install the latest version of master. Also of note: Black runs successfully with

    nix-shell --command 'black --check --diff -v setup.py src/ integrationtests/ unittests/'

The problem only occurs during installation.

[2019-08-02 11:50] seppeljordan commented on #146
Out of date

[2019-08-02 11:50] #146 closed

[2019-08-02 11:51] seppeljordan commented on #152
Does not seem to be a problem anymore.

[2019-08-02 11:51] #152 closed

[2019-08-02 21:04] seppeljordan commented on #253
Closing this since I cannot reproduce this anymore.  `mozilla-version` has changed.

[2019-08-02 21:04] #253 closed

[2019-08-02 21:32] seppeljordan opened #287 "Better error message when creating source distribution object fails"
This is a horrible error message.

[code]

[2019-08-03 10:19] #287 closed

[2019-08-03 10:21] seppeljordan commented on #261
Okay, half a year later.  I looked into this and had to tweak pypi2nix a bit to get this working.  The original issue was not present anymore when I looked into this.  I will close this now, but encourage you to open a new issue if you still have issues packaging `spaCy`

[2019-08-03 10:21] #261 closed

[2019-08-03 10:26] #251 closed

[2019-08-03 10:27] seppeljordan commented on #258
This should work now on current master.  closing this.  Please open a new issue if current master still does not work out for you in this instance.

[2019-08-03 10:27] #258 closed

[2019-08-03 10:33] seppeljordan commented on #274
This should be fixed on current master. closing this.  I encourage you to open a new issue if you still run into problems when using the current master version.

[2019-08-03 10:33] #274 closed

[2019-08-03 10:35] seppeljordan commented on #275
Hi, please try again with the `-v` option enabled.  This should at least work with current master version.

[2019-08-03 12:33] seppeljordan commented on #276
The proposed workaround should now work with the master branch version of `pypi2nix` and I think the `-s six==1.12.0` option can even be omitted.  Please reopen if the issue persists for you.

[2019-08-03 12:40] seppeljordan commented on #279
Which operating system are you using?

[2019-08-03 13:39] seppeljordan commented on #106
Hey, I am closing this since the recent version of `pypi2nix` does not have buildout support it does not look like anyone wants to take care of that.

[2019-08-03 13:39] #106 closed

[2019-08-03 13:41] seppeljordan commented on #256
Closing this.  If this issue becomes relevant again, please reopen.

[2019-08-03 13:41] #256 closed

[2019-08-03 14:41] seppeljordan commented on #279
Okay, I looked into this and found a number of problems:

1. `frappe` throws an exception for that it requires `testfm` instead of telling setuptools so with the `setup_requires` directive.
   This problem can be overcome by utilizing the `-s` flag of pypi2nix like this: `pypi2nix -V 3.6 -r requirements.txt -s testfm`
2. The dependencies of this package require `libffi` und `openssl` to build.  Yo

[2019-08-03 14:41] #279 closed

[2019-08-03 14:48] seppeljordan commented on #278
Okay, I tried this myself now and I got this:

[code]

Closing this since this is truly a problem with `flask-dropzone`

[2019-08-03 14:48] #278 closed

[2019-08-03 14:50] seppeljordan commented on #275
This should work with the current `master` version of `pypi2nix`. Closing this issue.

[2019-08-03 14:50] #275 closed

[2019-08-03 14:52] seppeljordan commented on #269
Closing this now since no feedback was given.  Reopen this if new info came up and you still need support.

[2019-08-03 14:52] #269 closed

[2019-08-03 14:59] seppeljordan commented on #267
I looked into this and unfortunately this package requires `poetry` as a dependency.  Currently `pypi2nix` cannot handle `poetry` because of a bug in `pip` which prevents PEP 517 packages from being installed from source :(

[2019-08-04 13:05] madhukar93 opened #292 "Error when running pypi2nix command"
pypi2nix -V "2.7" -r requirements.txt
Error:
[code]
Googling suggested there might be an issue with the `pip` version

[code]

[2019-08-04 13:16] #292 closed

[2019-08-04 13:16] madhukar93 commented on #292
nvm, `appnope` seems osx only. Not sure why it's committed since the application is supposed to run on linux servers.

[2019-08-08 18:28] majewsky commented on #276
Yes, updating to current master made it work for me. Thanks!

[2019-08-08 19:04] majewsky commented on #276
Actually, I cannot get it to work just yet. I got the requirements.nix and requirements_override.nix (which you can find in [this gist](https://gist.github.com/majewsky/6cf1fa00c3693355eaeac418fb013c10)), but trying to import them in my derivation results in this error:

[code]

[2019-08-08 19:19] seppeljordan commented on #276
Hi, this error due to a shortcoming of pypi2nix when it comes to circular dependencies.  As you can see in [line 616](https://gist.github.com/majewsky/6cf1fa00c3693355eaeac418fb013c10#file-requirements-nix-L616) of the gist `html5lib` requires `lxml` as build input and in [line 690](https://gist.github.com/majewsky/6cf1fa00c3693355eaeac418fb013c10#file-requirements-nix-L690) we can see that `lxml`

[2019-08-08 20:05] majewsky commented on #276
It first complains about `removePackages` not existing, but I suppose that you meant `removeBuildInput` there, so I fixed that. Then the following error appears:

[code]

(I wish I could be more helpful than just copy-pasting error messages, but I don't know enough of the nixpkgs machinery to be of more service.)

[2019-08-08 23:22] seppeljordan commented on #276
I'll come back to this issue in the next days hopefully.

[2019-08-20 10:08] apeyroux commented on #206
Hello,

What would be the solution to bypass it?

[2019-08-20 15:39] zokrezyl opened #294 "Version 2.x not available as definition/derivation on nixos.org/channels/nixpkgs-unstable"
Any plans to upgrade?

Building with "nix-env -if https://github.com/nix-community/pypi2nix/tarball/master" takes ages

[2019-08-20 16:08] zokrezyl commented on #206
I have the same limitation. While all nix-tools work well with the proxy, pypi2nix does not, unfortunately. Why not passing as command line arguments to the underlying libraries as alternative.

[2019-08-20 19:10] seppeljordan commented on #29
[code]

[2019-08-21 18:32] ldelelis commented on #216
Any news about this? Dealing with this issue right now (pypi2nix version 1.8.1). Should I open a new issue?

[2019-08-21 18:37] ldelelis opened #296 "Generated requirements.nix leads to failing psycopg2 shell."
(Assumption in the title, proceed with caution)

Generating an expression from a requirements.txt that includes psycopg2 (amongst other things) with the following command:

`pypi2nix -v -V 3.6 -r requirements.txt -E postgresql -E pkgconfig -E zlib -E libjpeg -E openjpeg -E libtiff -E freetype -E lcms2 -E libwebp -E tcl`

Correctly builds and generates a nix file. However, after trying to use said

[2019-08-27 05:17] Shados opened #297 "Environment marker support is incomplete"
[Environment marker](https://www.python.org/dev/peps/pep-0508/#environment-markers) support is not fully functional in pypi2nix.

There appears to be some partial functionality implemented in `src/pypi2nix/environment_marker.py`, but this is insufficient to parse many real-world `requirements.txt` files. For example, [odoo's](https://github.com/odoo/odoo/blob/12.0/requirements.txt).

[2019-08-27 14:48] furrycatherder opened #298 "Couldn't recognize license in stage 2"
[code]

requirements.txt:
[code]

[code]

[2019-08-28 14:50] seppeljordan commented on #297
Hi, thanks for reporting the issue.  There is a PR #299 on its way to master that will hopefully take care of the issue.

[2019-08-28 14:53] seppeljordan commented on #298
Hi, thank you for reporting the issue.  In case you have not done so, please install the current version of pypi2nix from `master` on your machine and try again.  Many improvements have been made.  You can install the current `master` version of pypi2nix on your machine via

[code]

[2019-08-28 14:56] seppeljordan commented on #294
Hi, unfortunately the current version of pypi2nix is not ready to be released since there are too many known issues.

In case anyone comes here and wants to help, feel free to pick up an open issue and ask away about it on github.  I will try to be as helpful and supporting as I can.

[2019-08-28 15:03] seppeljordan commented on #296
Hi, please install the current `master` version of pypi2nix and try again.  The following command will install it:
[code]

I gave it try on my machine and it seemed to work.  I would love to hear back from you if this also solved your problem.

This is my go at it:
[code]

[2019-08-28 15:16] seppeljordan commented on #298
Give this a try, it might work.
[code]

But no guarantees

[2019-08-28 15:23] seppeljordan commented on #298
Okay, it looks to me as if `ptyprocess` wants to use `flit` which is not available for python 2 :(
I went and checked the source code of `ptyprocess` and the latest version not requiring `flit` seems to be 0.5.  The I tried the following:

[code]

Which seemed to work.  So adding `ptyprocess==0.5` to your requirements file might work to solve this specific problem.

[2019-08-28 15:46] #298 closed

[2019-08-28 15:46] seppeljordan commented on #298
I encourage you to open a new issue if you run into additional problems. Thanks again for reporting

[2019-08-29 18:27] ldelelis commented on #296
@seppeljordan thanks for the quick response! Building from master works correctly.

What I just noticed is that nixpkgs refers to the latest release (v1.8.1), which was almost 2 years ago. Would it be ok to generate a new release as to up its nixpkgs version?

[2019-08-29 22:14] seppeljordan commented on #296
Hi, I definitely see how we should update `pypi2nix` on nixpkgs. But there are several issues that make me uncomfortable pushing this now.  The biggest issue is a problem with `pip`. This application currently distributes its own version of `pip` from a personal fork. The corresponding pull request for `pip` is unfortunately stuck. And without this patched version `pypi2nix` simply would not work

[2019-08-30 01:53] ldelelis commented on #296
Makes sense. Anything I can do to help?

[2019-08-30 03:00] Shados commented on #297
Excellent. On a semi-related note, what's the benefit of reimplementing things like requirements.txt parsing instead of using setuptool's own [`pkg_resources.parse_requirements()`](https://setuptools.readthedocs.io/en/latest/pkg_resources.html#requirements-parsing)?

I ask because that's what I ended up using to implement an interim workaround (a script that reads requirements.txt, applies the env

[2019-08-30 17:08] ldelelis commented on #296
Also closing this as we've verified this doesn't happen in upstream

[2019-08-30 17:08] #296 closed

[2019-08-31 10:46] seppeljordan commented on #296
First of all, thanks for asking.

https://github.com/pypa/pip/pull/6606

 This is a PR that addresses the issue with pip. If you know somebody who can review this or can do it yourself that would be awesome.

[2019-08-31 10:53] seppeljordan commented on #297
AFAIK and according to documentation setuptools follows PEP 508, which is only a subset of `requirements.txt` syntax which is what we need for pypi2nix.

[2019-09-02 11:49] seppeljordan opened #300 "Relative paths for requirements are made absolute in `requirements.nix` output"
Ideally we want relative paths to stay relative...

[2019-09-05 15:25] zimbatm opened #301 "Please pick a maintainer"
Who is the main maintainer designated for this project?

[2019-09-06 15:37] fgaz opened #302 "Error when running pypi2nix command on ihatemoney"
# Description

Well, I just ran the command and it reported a missing version. email-validator 1.0.3 does exist though.

# Traceback

[code]

[2019-09-07 12:14] seppeljordan commented on #301
Hi,

the current maintainer of this project would probably be me @seppeljordan. But I cannot edit the projects description to set put [maintainer=@seppeljordan] at the end of it.  So I guess somebody else has to do it.  Do you know who can?

[2019-09-07 12:16] seppeljordan opened #303 "Build is broken on `nixos-unstable`"

[2019-09-07 17:50] zimbatm commented on #301
Thanks, I fixed it!

I also moved all the users to the pypi2nix team.

* @domenkozar
* @garbas
* @blueyed
* @glasserc
* @jpic
* @offlinehacker
* @ckauhaus

[2019-09-07 17:50] #301 closed

[2019-09-09 09:57] pasqui23 opened #304 "Error when running pypi2nix command"
Output of the command:
[code]
With `requirements.txt`:
[code]

[2019-09-09 13:20] seppeljordan commented on #304
Hi, could you please try

[code]
?

This might solve your current problem.  Let me know if you run into further problems or this does not fix your issue.

[2019-09-13 14:44] umazalakain opened #314 "Fails installing bootstrapped-pip during installation"
I get the following traceback when trying to install from master or build with `nix run -f .`:
[code]

I'm running on the unstable nixpkgs channel. It all goes alright if I remove the override in `requirements.nix`.

[2019-09-13 14:52] umazalakain commented on #314
It does succeed installing `pypi2nix`, but when I run `pypi2nix` I get the following:

[code]

[2019-09-13 15:04] umazalakain commented on #314
Even weirder, `$out/${pkgs.python3.sitePackages}/pip/req/req_install.py` doesn't exist in my case

[2019-09-13 16:09] seppeljordan commented on #314
Hi, thank you for reporting the issue.  `pypi2nix` does currently not support `nixpkgs-unstable`. We do run tests for `nixos-unstable` and `nixos-19.03`.  I would like to offer support for `nixpkgs-unstable` but since the [bus factor](https://en.wikipedia.org/wiki/Bus_factor) of the project is currently at 1, I do not have the resources to take care of this myself.  All I can do currently is sugge

[2019-09-13 16:18] umazalakain commented on #314
Oh, I misread that, it does indeed work with nixos-unstable, thanks a lot! I'll close the issue ^_^

[2019-09-13 16:19] umazalakain commented on #314
Uh, not quite:

[code]

[2019-09-13 16:42] seppeljordan commented on #314
Hey, you probably want to run `pypi2nix` to generate a nix expression from a `requirements.txt`, right?  To do that run `pypi2nix -r requirements.txt`.  The error you are experiencing comes from a missing check in the program which leads to nothing being built at all.

[2019-09-13 16:42] seppeljordan opened #315 "Check if requirements where specified on program start"
See #314

We want to check if the user specified any requirements and abort program execution if that was not the case.

[2019-09-13 16:44] umazalakain commented on #314
Yes, that works, thanks again!

[2019-09-13 16:48] seppeljordan commented on #314
You are welcome.  Please report any issues you experience or features that you miss.  It really helps.

[2019-09-13 21:41] #315 closed

[2019-09-18 17:16] seppeljordan opened #321 "Requirement parser does not recognize dependencies of cryptography"
[code]

[2019-09-20 19:02] matthuszagh commented on #314
I'm getting this error as well, but even with the suggestions provided:

[code]

Any thoughts on what might be going wrong here?

[2019-09-22 01:43] seppeljordan commented on #314
Hi, I don't exactly know what broke there but it had to with patching the bootstrap version `pip`.  I am looking into it fix this issue soon.

[2019-09-22 14:22] seppeljordan commented on #314
Should fixed now. Reopen if the issue persists.

[2019-09-22 14:22] #314 closed

[2019-09-22 14:30] seppeljordan commented on #302
Hey. I looked at the output that you posted and it looks like you are using an outdated version from the development branch. This is not an issue but makes it hard for me to help you with your problem. You can find instructions on how to install the current development version in the README.rst file. Also the output that you posted does not show an error, or at least I fail to find one.

[2019-09-22 16:36] matthuszagh opened #324 "No module named pkg_resources"
I'm getting the following error when running pypi2nix:
[code]

Does setuptools need to be an input to pypi2nix?

[2019-09-23 13:24] jethrokuan commented on #324
This might've been the cause: https://github.com/NixOS/nixpkgs/pull/68314

[2019-09-24 00:16] matthuszagh commented on #324
Having looked into this a bit more, it doesn't seem that the issue is related to having not included setuptools, which is in fact included and imports fine. Maybe instead it's related to [this PR](https://github.com/nix-community/pypi2nix/pull/307)?

[2019-09-24 18:50] seppeljordan commented on #324
Hi, this should be fixed now via #326 .
I encourage you to open a new issue, if you run into any errors during installing/building `pypi2nix` on `nixos-unstable`, `nixos-19.03` and `nixos-19.09`.

[2019-09-24 18:50] #324 closed

[2019-09-25 22:42] seppeljordan opened #331 "Support distribution type `bdist_msi` in `pypi2nix.pypi.Pypi`"

[2019-09-28 06:49] seppeljordan commented on #321
This was solved via #329 which makes `pypi2nix` grudgingly accept the environment marker variable `python_implementation`.

[2019-09-28 06:49] #321 closed

[2019-09-28 06:52] #297 closed

[2019-09-28 11:22] seppeljordan opened #333 "pynacl does not build with `--build-directory` option set"

[2019-09-30 18:33] glasserc opened #335 "--setup-requires argument doesn't appear to work"
Using `pypi2nix` master, the `-s` argument doesn't seem to work. I think this might be a regression because I seem to have files generated with an earlier version of master where it did work. I tried it out using `hashin`, which is a project with relatively few dependencies which does `setup_requires=["pytest-runner"]` (https://github.com/peterbe/hashin/blob/master/setup.py#L32).

[code]

I see fr

[2019-09-30 20:33] seppeljordan commented on #335
Hi, thank you for reporting the issue.

TL;DR:
Put the following code in `requirements_override.nix`:
[code]

The behavior you are experiencing is currently unavoidable but you can work around it with relatively little effort.

First an explanation:

`pypi2nix` creates an environment where `pip` can download, build and install all the requirements, similar to `virtualenv`.  The `--setup-requires`

[2019-09-30 21:38] glasserc commented on #335
Thanks, I know how to add overrides. In fact, I have several `requirements_overrides.nix` files where I added `pytest-runner` and `setuptools-scm` to the dependencies of several packages, and over time I was starting to remove them because `pypi2nix` was smart enough to add them itself if I named those packages using `-s`.

I bisected manually, and I was able to determine that this worked in 46807

[2019-10-03 01:41] reversefold commented on #246
I discuss my workaround in this comment on another ticket: https://github.com/sdispater/poetry/issues/760#issuecomment-537353393

This is for if you are directly calling pip and able to set the `--no-binary` command-line arguments yourself. I don't know if pypi2nix supports this or not, I just got here by searching for the error. Hope it helps, though.

[2019-10-12 12:59] fiksn opened #337 ""ValueError: not enough values to unpack" for python-openstackclient"
When running `pypi2nix -e python-cinderclient -e python-glanceclient -e python-heatclient -e python-keystoneclient -e python-neutronclient -e python-novaclient -e python-swiftclient -e python-openstackclient -e deepdiff -e ruamel.yaml -e ipcalc -E openssl -E libffi`

I get the following:

[code]

or actually `pypi2nix -e python-openstackclient` seems to be enough to reproduce this. Any idea?

[2019-10-12 15:04] seppeljordan commented on #337
Thank you for reporting the issue.  i'll look into it as soon i find the time.

[2019-10-18 15:54] hlolli opened #339 "ometa.runtime.ParseError"
I'm trying to create a dev-env with the following requirements.txt

[code]

the stacktrace I get from running

`pypi2nix -r requirements.txt -V python37`

is

[code]

my system:

[code]

and pypi2nix (installed from master few days ago)

[code]

[2019-10-18 17:02] seppeljordan commented on #339
[code]
Is rejected by the parser for requirements.  We only implement [PEP 508](https://www.python.org/dev/peps/pep-0508/#id24) for requirement specifications.  Although pip accepts this, we want to be careful and emit warnings if this is encountered so that the users gets the chance to report this issue upstream.  Currently `pypi2nix` does not handle that specific case but I will implement a a fi

[2019-10-18 19:27] #300 closed

[2019-10-18 21:51] #339 closed

[2019-10-18 23:12] charles-dyfis-net opened #341 "setuptools available in nix-shell but not runtime wrapper (building pydeinstaller)"
I'm attempting to install https://github.com/charles-dyfis-net/pydeinstaller, packaged with pypi2nix.

Building packaging as follows:

[code]

...with `requirements.txt` containing only a single line:

[code]

With pypi2nix 1.8.1, this generated a `requirements.txt` from which I could successfully install pypi2nix with the following `default.nix`:

[code]

However, with pypi2nix 2.0.0, the package

[2019-10-19 22:33] seppeljordan commented on #341
Hi, I checked `pydeinstaller` `setup.py` and you could probably make this work by adding `setuptools` to `install_requires`.  Otherwise `pypi2nix` will not be able to detect that setuptools is a runtime dependency of `pydeinstaller`.  If this does not work, let me know and I will take another look into your problem.

[2019-10-20 00:47] charles-dyfis-net commented on #341
@seppeljordan, thank you for taking a quick look!

Unfortunately, I'm still having the same issue with charles-dyfis-net/pydeinstaller@a8d354e3abac89e268a0e9fc7304bf5263df8a09, which adds setuptools as an explicit requirement.

[code]

...results in:

[code]

[2019-10-20 08:35] seppeljordan commented on #341
Hi, I tried to package `pydeinstaller` with current `master` of `pypi2nix` and it worked.

[code]

Would it be possible to check if this will work for you with a fresh installation from master branch?
`nix-env -if https://github.com/nix-community/pypi2nix/archive/master.tar.gz`

[2019-10-20 09:34] seppeljordan opened #344 "Don't use setupcfg package"
We should not use `setupcfg` anymore and instead use `setuptools` setupcfg api.

[2019-10-20 19:46] mguentner opened #345 "1.8.1: bootstrapped-pip appears to be broken"
When running `pypi2nix` on a requirements.nix file and then evaluating the resulting `requirements.nix` file, with NixOS/nixpkgs@nixos-19.09 and NixOS/nixpkgs@89c0e5b332f9aa0f6697bf94dd139d1be9956299 (current HEAD of master) I get this error:

[code]

requirements.nix line 25:

[code]

[2019-10-20 20:21] seppeljordan commented on #345
Hi, this should be fixed on `master`.  You could install the master branch version via `nix-env -if https://github.com/nix-community/pypi2nix/archive/master.tar.gz`.  Let me know if that works for you or if you run into further issues.

[2019-10-21 20:14] charles-dyfis-net commented on #341
Confirmed that the issue is already fixed on current master.

Thank you for your time!

[2019-10-21 20:14] #341 closed

[2019-10-23 06:41] seppeljordan commented on #344
Fixed on master.

[2019-10-23 06:41] #344 closed

[2019-10-23 06:43] seppeljordan commented on #345
Closing this since version 1.x is not maintained anymore.  Release of 2.x will drop on nixpkgs soon.

[2019-10-23 06:43] #345 closed

[2019-10-23 18:03] mguentner commented on #345
Thanks. Indeed the bootstrapped-pip issues is solved with current master.
[code]

However the generated `.nix` files do still not evaluate properly:
[code]

Around line 65:

[code]
Complete requirements.nix:
https://github.com/mguentner/matrix-registration-nix/blob/pypi2nix2/requirements.nix

referenced like this:

https://github.com/mguentner/matrix-registration-nix/blob/pypi2nix2/default.nix#L4

[2019-10-23 22:12] seppeljordan commented on #345
Would you mind sharing your `requirements.txt`?  Maybe I can help you.  It looks like your need to add `buildInputs = [python.packages."setuptools-scm"];` to your `default.nix` and also the `setuptools-scm` package in your original `requirements.txt`.

[2019-10-25 09:23] seppeljordan commented on #302
Closing this due to inactivity.  Feel free to reopen if you need further assistance.

[2019-10-25 09:23] #302 closed

[2019-10-25 09:28] #276 closed

[2019-10-25 09:29] seppeljordan commented on #304
Closing this due to inactivity.  Feel free to reopen this if you still need help.

[2019-10-25 09:29] #304 closed

[2019-10-25 09:31] seppeljordan commented on #335
`pypi2nix` should now include default overrides from nix-community/pypi2nix-overrides and therefore hopefully work as expected.  Feel free to open a new issue if you run into any issues with pypi2nix.

[2019-10-25 09:36] seppeljordan commented on #337
This should be fixed know on the current `master` version.  Reopen if the issue persists with the most current version of `pypi2nix`.

[2019-10-25 09:36] #337 closed

[2019-10-25 09:40] seppeljordan commented on #98
I close this since we have CI setup now that seems to deal changes in the python infra on nixpkgs okay-ish.

[2019-10-25 09:40] #98 closed

[2019-10-25 15:16] #331 closed

[2019-10-27 14:46] mguentner commented on #345
The command you suggested results in the same error message.
Here is the upstream python project:

https://github.com/ZerataX/matrix-registration with the `requirements.txt`

[2019-10-29 10:05] mdedetrich commented on #236
So I am getting this error, but its actually when I am trying to install pypi2nix itself, i.e.

[code]

Should I make a separate issue for this?

[2019-10-29 10:54] mdedetrich opened #360 "pypi2nix failing to install on latest nixos unstable"
pypi2nix seems to be failing on the current NixOS unstable due to a permission problem when installing wheel.

Installation is being done off the latest master, i.e.

[code]

Stacktrace can be found here https://gist.github.com/mdedetrich/0c2b32e5cee6c5fe13440ddfbbedf647

[2019-11-02 10:00] mdedetrich commented on #360
This has solved itself in the latest version of nixos

[2019-11-02 10:00] #360 closed

[2019-11-02 10:29] mdedetrich opened #361 "Unable to download package flake8"
I am trying to install pypi2nix generated package of `stups`, i.e.

[code]

When I run the generated `requirements.nix` here https://gist.github.com/mdedetrich/10572f4dc0ec567b53597564ac056ec6 with

[code]
I get the following error message

[code]

[2019-11-02 15:10] seppeljordan commented on #360
Sweet.  Thanks anyway for reporting :)

[2019-11-02 15:11] seppeljordan commented on #294
@zokrezyl pypi2nix is now on `master` of `nixpkgs`.  Therefor closing this.

[2019-11-02 15:11] #294 closed

[2019-11-04 07:22] seppeljordan commented on #361
Since this is a Zalando package I guess that you are an employee or contractor of said company.  I really do not want to maintain Zalandos corporate infra for free.  Sorry...

[2019-11-04 07:22] #361 closed

[2019-11-04 09:14] mdedetrich commented on #361
Okay thanks, I will look into it myself then

[2019-11-04 19:24] hlolli commented on #216
The error message is misleading, I was able to install it with

[code]

as is shown in the testcase https://github.com/nix-community/pypi2nix/blob/bdb7420ce6650be80957ec9be10480e6eacacd27/integrationtests/test_pillow.py#L4-L19

[2019-11-04 20:57] seppeljordan commented on #216
@ldelelis There is a new version of `pypi2nix` on `nixos-unstable` that, in conjunction with @hlolli comment should solve your problem.

[2019-11-04 21:19] seppeljordan commented on #361
@mdedetrich Regarding `flake8`: Check out the integration test called `test_flake8.py`.  But know that you will run into more issues down the line when packaging `stups`.  I actually investigated this issue a little bit (more than I should have) and discovered that dependencies of `stups`, e.g. `stups-cli-support` do not declare there build time dependencies in `setup.cfg` but only in `setup.py`.

[2019-11-04 22:18] mdedetrich commented on #361
Of course I understand, fyi I don't have any knowledge python. All I know is this is open source tooling that our company uses

If someone would implement such a change also for flake8 everyone would win ;)

I will make a ticket in the appropriate places. Many thanks for spending your time on this, I won't bother you again.

[2019-11-09 15:07] fiksn opened #363 "Requirement parser should understand "python_version" and "sys_platform""
Related to https://github.com/nix-community/pypi2nix/issues/337 again with python-openstackclient & co. However as it is different I am opening a new issue.

Now I get:

[code]
I suppose requirement parser should understand python_version and ignore enum34 with python3.7.

Thanks.

[2019-11-10 16:31] seppeljordan opened #365 "Make master branch protected and require checks to complete succesfully"
I would like the master branch to be protected (which it probably already is already) and (more importantly) make it so that PRs can only be merged after all checks succeeded.

@zimbatm Can you do this?  If not, do you know who can?

[2019-11-10 19:31] #363 closed

[2019-11-10 22:06] seppeljordan opened #368 "Extend source distribution inspection to SCM sources"
This would help us to detect build time dependencies of `git+https://...#egg=...` style requirements.

[2019-11-11 10:48] zimbatm commented on #365
This is the new setting. Let me know if you want me to change anything else.
![image](https://user-images.githubusercontent.com/3248/68581637-b8b5ec80-0470-11ea-84a3-a139116009dd.png)

[2019-11-11 11:13] seppeljordan commented on #365
Thank you.  Looks good to me :)

[2019-11-12 11:53] seppeljordan commented on #365
Hi @zimbatm , sorry for reopening this again.  I need the "Status Checks" section to change, so that "continuous-integration/travis-ci" is required only.

![Screenshot 2019-11-12 at 12 00 01](https://user-images.githubusercontent.com/4805746/68666538-63e3a600-0544-11ea-8916-af1dfb5f31d6.png)

[2019-11-12 14:12] fiksn opened #370 "Installation fails"
As mentioned in https://github.com/nix-community/pypi2nix/pull/367 when I do `nix-env -if https://github.com/nix-community/pypi2nix/tarball/master`

I get:

without that patch and

`nix-env -if .` everything is fine for me.

[2019-11-12 15:22] fiksn opened #371 "wheel-0.33.6 wants to delete wheel-0.33.1"
Hey @seppeljordan sorry for the issue spam, this should probably get a tag "question".

Generating the nix files with pypi2nix works like a charm now, but when I want to install the stuff I get:

This probably has to do with /nix/store being read-only. New stuff should be appended to it but wheel-0.33.6 should not even see there is a wheel-0.33.1 and try to uninstall it. Did anybody else encounter

[2019-11-13 17:01] DavHau opened #372 "Freeze when processing requirements.txt"
I get the following output when interrupting pypi2nix via keyboard after several minutes of nothing happening.
Also why do i get this detailed log only when killing the program? It would be nice to get this output while the action is happening not afterwards.

<detailed description of error # Traceback

[code]

[2019-11-13 22:59] zimbatm commented on #365
Sure no problem. New setting:
![image](https://user-images.githubusercontent.com/3248/68811740-3e03f180-0669-11ea-8a2c-0712cd950c1a.png)

[2019-11-13 22:59] #365 closed

[2019-11-16 15:47] seppeljordan commented on #370
Hi, the behavior you are experiencing is probably due to `setuptools-scm` now being a part of `pypi2nix`.  The recommended way to install `pypi2nix` is to use the current version from `nixpkgs-unstable`.

If you want to install the latest version from `master` then you do the following:

[code]

[2019-11-16 16:03] seppeljordan commented on #371
Hi, I'd be happy to help you.  But for that I need some additional information.
Which version of `pypi2nix` was used to build your package set? (`pypi2nix --version`)

[2019-11-16 21:28] #370 closed

[2019-11-17 11:17] seppeljordan commented on #372
Hi,

Because you haven't used the `-v` option.

See above.

Regarding the "freeze", unfortunately I cannot help you unless you show the contents of your `requirements.txt` file.

[2019-11-17 11:18] seppeljordan commented on #270
Closing because of inactivity.

[2019-11-17 11:18] #270 closed

[2019-11-18 03:12] DavHau commented on #372
Thanks for the hint. Maybe the `-v` option should be the default and instead have a `-q`? Then it would be more like pip and friendlier for people coming from there..

I'm working with the following requirements.txt:
[code]

When using pypi2nix of nixos-19.09 by executing `pypi2nix -V 3.6 -v -r requirements.txt` i get the following error while it compiles cryptography:
[code]

When using pypi2nix

[2019-11-18 08:34] DavHau opened #376 "pypi 'cryptography': pypi2nix builds, but requirements.nix not working"
version: 2.0.2.dev10+ge0d70c5

The cryptography python library builds into a requirements.nix with this command:
`pypi2nix -V python37 -v -e cryptography -E "openssl"`
But running the requirements.nix fails:
[code]

It can be fixed by appending 'libffi' to the extra-build-inputs before building the requirements.nix.
I'm not quite sure if this is considered an issue or not. Maybe I'm wrong but i wo

[2019-11-20 20:35] flyfloh opened #378 "Error when running pypi2nix command, for mayan-edms"
I'm trying to generate a nix expression for mayan-edms. I get the output below.

# Description

<detailed description of error # Traceback

[code]

Right before I also get the following output (which was not included in the automatic bug report):

[code]

[2019-11-24 12:30] seppeljordan opened #380 "flit cannot be built"
The `flit` package cannot be built.  This is due to a bug/missing feature in `pip`.  This is addressed in https://github.com/pypa/pip/pull/7394

We need to update pip as soon as a release including this change is published.

[2019-11-24 18:07] fiksn commented on #371
Hi,
managed to solve my problems in the mean time. I am using 2.0.1 version now.

I had problems with pbr, for instance openstacksdk package didn't include pbr, I've just manually added `self."pbr"` into `propagatedBuildInputs` (which was present for other stuff in requirements.nix) and then everything worked fine.

Thanks. So feel free to close this or perhaps rename the issue to investigate what

[2019-11-24 18:59] seppeljordan commented on #371
Closing this but someone could investigate this with regards to the default overrides.

[2019-11-24 18:59] #371 closed

[2019-11-25 19:42] sagartewari01 opened #381 "Error when running pypi2nix command"
# Description

Command fails with message:

The following required packages can not be built:

freetype2 and libpng are available in nixpkgs.

[code]

[2019-11-28 07:44] onepunchlinux commented on #302
I hit the same issue. Pulled latest dev version and same issue.
[code]

[2019-11-28 16:04] seppeljordan commented on #302
Hi @onepunchlinux ,
the issue here is that `email-validator` version 1.0.3 and up does not come with a source distribution on pypi, but only wheel distributions.  Currently pypi2nix only works with source distributions.  I recommend raising an issue with the maintainers/developers of `email-validator`.

[2019-12-03 23:02] seppeljordan commented on #380
@cyraxjoe This is currently in progress.  Check out #383 if you want to see how things are going

For everyone who cares:

I identified the issue and it is two fold:
1. Pip cannot build `flit>=2.0` as of version `19.3.1`.  A fix was already merged to master though.
2. nixpkgs cannot handle building `flit_core` without being explicitly told about it being a `pyproject` package.  Check out section [

[2019-12-03 23:46] cyraxjoe commented on #380
Thank you for the update @seppeljordan  (and your work on keeping alive `pypi2nix`!)

I temporarily end-up working around the issue by not regenerating my `requirements.nix` and using the current one for my project with `flit-1.3`. But this will become an issue when I decide to update my dependencies.

[2019-12-04 07:53] seppeljordan commented on #380
You can use a constraints file in your requirements file to work around the issue:

in `requirements.txt`:

[code]

in `constraints.txt`:
[code]

Let me know if this helps

[2019-12-04 22:41] earksiinni opened #384 "Error: Unable to find release for package python-dateutil of version 0.0.0"
I'm trying to install `mapbox` and I'm getting an error about not being able to find `python_dateutil` version 0.0.0. I suspect that some kind of requirement isn't getting parsed correctly. Here's the output:

[code]

[2019-12-07 13:38] seppeljordan opened #385 "Enable sandboxing in travis builds"
We need this to ensure reproducibility.

Check out https://nixos.wiki/wiki/Nix_on_Travis for info on the subject.

[2019-12-07 14:28] seppeljordan commented on #380
Should be resolved now since #383 was merged successfully.

[2019-12-07 14:28] #380 closed

[2019-12-08 01:25] seppeljordan opened #387 "Release v2.0.2 to nixpkgs"

[2019-12-08 15:13] seppeljordan commented on #368
Closed since relevant PR was merged.

[2019-12-08 15:13] #368 closed

[2019-12-08 15:15] #372 closed

[2019-12-08 15:18] seppeljordan commented on #376
This can be solved by using `-E "openssl libffi"`.  Unfortunately there is no mechanism in place to catch scenarios like this, but I am open to suggestions or PRs addressing the issue with missing build inputs.

[2019-12-08 15:22] seppeljordan commented on #378
To effectively assist you in solving the issue I need some more information from you:
1. What OS are you using?
2. Which version of `pypi2nix` are you using?
3. Did you install `pypi2nix` from `nixpkgs` or by installing it directly from github?
4. Run `pypi2nix` with the `-v` flag and and post the output either here or to a pastebin.

[2019-12-08 15:25] seppeljordan commented on #381
Please consider installing the latest version of `pypi2nix`.  Instructions can be found in the README.  Version 1.8.1 is no longer supported, since I don't have the resources to do so.  Unfortunately I am the only person maintaining `pypi2nix`.

[2019-12-08 15:25] #381 closed

[2019-12-08 15:27] seppeljordan commented on #384
Hi, please consider installing the latest version of `pypi2nix`.  Instructions can be found in the README.  Unfortunately I do not have the resources to give support for older versions, since I maintain this project 100% in my free time.

[2019-12-08 15:27] #384 closed

[2019-12-08 15:38] seppeljordan commented on #22
Closed since there are no resources to implement such a feature.

[2019-12-08 15:38] #22 closed

[2019-12-08 15:39] seppeljordan commented on #28
`nixpkgs-python` does not exist anymore.  Closing ticket.

[2019-12-08 15:39] #28 closed

[2019-12-08 15:40] seppeljordan commented on #29
Addressed by #353.

[2019-12-08 15:40] #29 closed

[2019-12-08 15:41] seppeljordan commented on #43
Currently there are no resources to do this task.  Closing because of low priority.

[2019-12-08 15:41] #43 closed

[2019-12-08 15:41] seppeljordan commented on #64
Missing description. Closing.

[2019-12-08 15:41] #64 closed

[2019-12-08 15:43] seppeljordan commented on #259
Closing this since caching does not work anymore.

[2019-12-08 15:43] #259 closed

[2019-12-08 15:44] seppeljordan commented on #112
last comment says it all

[2019-12-08 15:44] #112 closed

[2019-12-08 15:44] seppeljordan commented on #187
Low Priority and no resources: Closing this.

[2019-12-08 15:44] #187 closed

[2019-12-09 00:14] Fresheyeball opened #388 "Error when running pypi2nix command"
# Description

Not sure why this is happening yet. But the cli tool made making this issue very easy, which makes me think you might want to know about it.

[code]

[code]

[2019-12-09 19:19] seppeljordan commented on #388
Two things:

1. opencv-python does not have a source distribution.  You have three options here:
    1. Open an issue with the opencv-python and ask the maintainers to upload a source distribution
    2. Find the latest version of opencv-python which HAS a source distribution and use that.  Let's say the latest source distribution is 1.2.3 then you would invoke pypi2nix like that: `pypi2nix -e ope

[2019-12-10 09:15] seppeljordan commented on #387
https://github.com/NixOS/nixpkgs/pull/75254 was merged.

[2019-12-10 09:15] #387 closed

[2019-12-10 09:17] #385 closed

[2019-12-11 10:18] nxg opened #390 "Converting requirements.txt JSON decode error (unable to determine platform?)"
Running `pypi2nix` on a simple `requirements.txt` file produces a `json.decoder.JSONDecodeError`.  See below for transcript.

This is using the master tarball as of about 2019-12-11T10:00Z, and nixpkgs on macOS 10.15.1.

Looking at the code indicated in the traceback, this appears to happen when it is trying to determine platform details.  Nothing stands out as obviously wrong in the code, but I h

[2019-12-11 10:20] nxg opened #391 "Doc-bug: instructions on installing from master"
In the [README](https://github.com/nix-community/pypi2nix/), section 1, the text suggests installing from master with

    % nix-env -if https://github.com/nix-community/pypi2nix.git

I think this should instead be

    % nix-env -if https://github.com/nix-community/pypi2nix/tarball/master

[2019-12-11 16:34] seppeljordan commented on #391
Thanks, You are right.

[2019-12-14 11:07] eonpatapon commented on #390
I've just stumbled on this issue as well, using v2.0.2:

[code]

[2019-12-18 15:17] DavHau opened #392 "pypi2nix fails on flake8"
System: NixOS 19.09

executed pypi2nix command:
`pypi2nix -e flake8`

nix-shell command `nix-shell requirements.nix -A interpreter` fails with:
[code]

What i tried so far without success:
 - disabling the default overrides
 - adding pytestrunner as extra build input via `-E python37Packages.pytestrunner`
 - adding pytest-runner as extra python dependency via `-s pytest-runner`

[2019-12-18 15:43] seppeljordan commented on #392
Hi, which version of pypi2nix are you using (`pypi2nix --version`)

[2019-12-18 16:39] DavHau commented on #392
2.0.2.dev10+ge0d70c5

[2019-12-20 04:16] DavHau commented on #392
Sorry for the confusing version. I now switched to the current master and the behavior is the same.
It seems like i could solve it by adding a lot of setup requirements.
Whenever i get this `attribute missing, at ... overrides.nix` i have to add this attribute as a setup requirement to the pypi2nix command via `-s attribute`. I'm currently working my way through it and will report back in case i c

[2019-12-20 23:19] seppeljordan commented on #392
It should not but it does unfortunately since a lot of python packages use `setup.py` to declare their build dependencies and we have no way to detect them that way...

[2019-12-21 13:42] spinus opened #394 "Comment eats requirement"
When you have dependency file `requirements.txt` like that:
[code]
the output is empty.
It took me a moment to discover what's happening because I have file with ~100 dependencies and few of them are commented.

That feature worked with version from nixpkgs-19.03.

Is this a bug or a feature?
If a feature I would at least produce some log in the output that says this dependency is deleted.

[2019-12-23 21:10] analyticd opened #395 "Install error: missing nixfmt?"
On macos High Sierra.

Here is the stack trace:

❯ nix-env -if https://github.com/nix-community/pypi2nix/tarball/master --show-trace
installing 'python3.7-pypi2nix-dev'
error: while evaluating the attribute 'drvPath' at /nix/store/zkmmz5qqd28rjivbxc3b0dbc8jvlbz9a-nixpkgs-19.09pre188239.c0e56afddbc/nixpkgs/lib/customisation.nix:149:7:
while evaluating the attribute 'nativeBuildInputs' of the deriva

[2019-12-25 11:26] chrissound opened #396 "414 Request-URI Too Large when submitting issue"
Suggested issue URL results in 414 Request-URI Too Large

`https://github.com/garbas/pypi2nix/issues/new?title=Error+when+running+pypi2nix+command&body=%23+Description%0A%0A%3Cdetailed+description+of+error+%23+Traceback+%0A%0A%60%60%60bash%0A%25+pypi2nix+--version%0A1.8.1%0A%25+pypi2nix+--python-version+3.6+-r+requirements.txt%0ACollecting+numpy+%28from+-r+%2Ftmp%2Fpypi2nix%2F897cd64e0a97bc869b937

[2019-12-25 11:29] chrissound opened #397 "Fails with numpy as requirement " ModuleNotFoundError: No module named 'Cython'""
**requirements.txt:**
[code]

pypi2nix --python-version 3.6 -r requirements.txt results in:

[code]

[2019-12-28 16:53] seppeljordan commented on #394
Hi,
this is a bug.  I rewrote several parts of pypi2nix since 19.03.  This bug was introduced with a reimplementation of requirements file handling.

[2019-12-28 16:55] seppeljordan commented on #396
Hi, thank you for reporting this issue.  I won't fix this and probably remove the bug report feature, since I cannot maintain it properly.

[2019-12-28 16:55] #396 closed

[2019-12-28 16:56] seppeljordan commented on #395
Hi, unfortunately I do not have the resources to support macOS.  You can try installing `pypi2nix` from official nixpkgs though.

[2019-12-28 16:56] #395 closed

[2019-12-28 16:58] seppeljordan commented on #235
I am closing this since I cannot support macOS as I do not own an apple computer.

[2019-12-28 16:58] #235 closed

[2019-12-28 16:58] seppeljordan commented on #207
Closing this since I cannot support macOS as I do not own an apple computer.

[2019-12-28 16:58] #207 closed

[2019-12-28 17:04] seppeljordan commented on #390
Hi, unfortunately I cannot support macOS as I do not own an apple computer.

[2019-12-28 17:06] seppeljordan commented on #391
Solved via #393

[2019-12-28 17:06] #391 closed

[2019-12-28 17:10] seppeljordan opened #398 "Implement system insert curated list of build dependencies"
Currently pypi2nix throws a lot of errors due to missing build time dependencies.  We could mitigate the issue by have a curated list of build time dependencies that are inserted into the requirements set if we detect problematic packages.

[2019-12-28 17:11] seppeljordan commented on #392
Solving #398 will most likely solve this issue.

[2019-12-29 15:49] eonpatapon commented on #390
actually I'm not on macOS

[2019-12-30 18:28] charles-dyfis-net opened #399 ""No matching distribution found for wheel" packaging PyInstaller==3.5"
Running pypi2nix (4f12dc348b93cb9d9104b6909c371478f4e61644) from master, built with `(import ./VC/pypi2nix { pkgs = unstable; })` (where `unstable` points at current nixos-unstable as of the creation date of this ticket), the following occurs:

[code]

Notably, the `requirements_frozen.txt` given does not explicitly include `wheel`; its contents are:

[code]

[2019-12-30 18:47] charles-dyfis-net commented on #399
On further investigation, this also happens with `pypi2nix -e PyInstaller==3.5`; none of the other dependencies listed are required.

[2019-12-30 23:22] charles-dyfis-net opened #400 "Post-install black run can fail on MacOS due to AF_UNIX path length limitation"
[code]

Appears to be the same issue previously observed as NixOS/nixos#77 and fixed by disabling tests on MacOS in NixOS/nixpkgs@ed87cc2e4e8abc346262a268bb0999565ae89c41

[2020-01-01 13:09] ThoenigAdrian opened #401 "Attribute patch phase missing in requirements.nix"
Hi I just tried pypi2nix and wanted to install requests==1.0.0
[code]
Which succeeded with "Nix expressions generated successfully"

After that I executed
[code]
But it fails with :
[code]

[2020-01-02 14:07] seppeljordan commented on #390
Okay, I am sorry, misread your post.  The "darwin" label was remove from the issue.

[2020-01-03 15:09] pasqui23 opened #402 "PYTHONPATH does not include current package while generating dependency"
# Description

<detailed description of error # Traceback

[code]

[2020-01-03 15:22] pasqui23 commented on #402
Apparently the error is :
[code]

[2020-01-03 15:23] pasqui23 commented on #402
The `braces` module,btw, should be taken from https://github.com/brack3t/django-braces/tree/master/braces and is present in my requirements.txt

[2020-01-05 13:28] truh commented on #401
I'm experiencing the same issue after upgrading to NixOs 19.09.

[2020-01-07 15:08] pasqui23 commented on #402
Apparently pypi2nix does not include the current folder in PYTHONPATH,as https://github.com/brack3t/django-braces/blob/aef4b47b4346ffdd603158737b8232b9e0f22e57/setup.py#L3 expects it

[2020-01-07 19:00] antoinerg commented on #397
I'm running into the same issue. Is there a simple way of reusing the `numpy` package already present in `nixpkgs` as a workaround?

[2020-01-07 22:07] chrissound commented on #397
In case it's helpful the following works:
[code]

[2020-01-09 03:13] tdbgamer opened #403 "Fails to build aiokafka"
I'm new to pypi2nix and nix, so it's possible I'm fucking something up here.

### Host
[code]

### Requirements File

[code]

#### Steps to produce bug
[code]

#### Output
[code]

[2020-01-13 10:17] arnoldfarkas opened #404 "Error when running pypi2nix command"
# Description

Attempted to generate nix expression using pypi2nix 2.0.2 for avro-python3 1.9.1. Testing of python3.7-dulwich-0.19.14 failed.

[code]

[code]

[2020-01-13 10:21] #404 closed

[2020-01-17 20:58] seppeljordan commented on #399
Hi, I investigated your issue and it seems like PyInstaller uses `setup.py` to declare its setup requirements.  This means that pypi2nix cannot detect those automatically.  You could work work around the issue by supplying the `-s wheel`.  This will tell pypi2nix that one or more packages require `wheel` to be built.

For your interest:
The built worked as is with `PyInstaller==3.4` because in thi

[2020-01-17 20:58] #399 closed

[2020-01-17 21:00] seppeljordan commented on #400
Hi, macOS is not supported.  If someone would want to maintain this package for macOS, this could could change.

[2020-01-17 21:18] seppeljordan commented on #403
Hi, you are not fucking something up.

The issue arises from the fact that pypi2nix is unable to detect `setup_requires`-requirements, build time dependencies in plain english, for projects that do not declare them in `pyproject.toml` or `setup.cfg`.  This is the case for `aiocontextvars`.  You can work around the issue by overriding the specific package manually via the `requirements_override.nix

[2020-01-17 21:23] seppeljordan commented on #397
Hi,

two issue:

1) Unfortunately I did not get around to implement support for `numpy` since it is a special snowflake.
2) Since I am maintaining the package on my own I do not have the resources to support any other version of `pypi2nix` than the latest one.  Unfortunately this includes the release of `pypi2nix` that comes with `nixos-19.09`.  I am aware of fact that this sucks. Sorry

[2020-01-17 21:23] #397 closed

[2020-01-17 21:26] seppeljordan commented on #402
Hi, try providing `-s django-braces` and let me know if that helped.

[2020-01-17 21:34] antoinerg commented on #397
I completely understand @seppeljordan. It might be helpful to mention somewhere that `numpy` is not supported at the moment considering it's a very popular package!

Anyway, thank you for all your hard work on `pypi2nix`!

[2020-01-17 22:20] spinus opened #406 "pytest-http, pkg_resources"
pytest-html requires pkg_resources package. That lib builds just fine, but when in runtime, it cannot find pkg_resources (it uses lib to discover some files so I couldn't just remove this dependency).

To reproduce:
1. requirements.txt
[code]
2. override
[code]

Issue:
[code]

[2020-01-17 23:49] #394 closed

[2020-01-17 23:52] seppeljordan opened #407 "Get numpy to work"
It potentially help a lot of people to get `numpy` to work.  We will use this issue to dump relevant information on the subject.

[2020-01-17 23:53] seppeljordan commented on #397
For everyone who is interested: I opened an issue that you can track, to get notified when numpy support drops.  It is #407

[2020-01-18 03:50] spinus opened #409 "Allow to install local packages"
I'm trying to have requirement like
[code]
Current pypi2nix 2.x omits this completely.
I tried multiple forms with `file://`, absolute path `-e`, `./../path`.

[2020-01-18 03:54] spinus opened #410 "pypi2nix silently ignoring requirements that cannot be parsed"
I already opened the bug for omitting the lines with comment, and that seem to be similar bug.
Any line that cannot be properly parsed is ignored. No errors at all.
I spent some time to figure out that with a comment one, but that can be time sucker if somebody has huge file and some random lines are swamped. Happy debugging.

I think `explicit is better than implicit` would be to throw an error a

[2020-01-18 11:39] seppeljordan commented on #401
Hi, which version of pypi2nix are you using?

[2020-01-18 11:48] seppeljordan commented on #406
Hi, you have to add setuptools to `propagatedBuildInputs` (that's your runtime deps) to make it available at runtime. Let me know if that helped.

[2020-01-18 11:53] seppeljordan commented on #402
`pypi2nix` to nix does not include the current directory in PYTHONPATH because the whole point of pypi2nix is to make your setup reproducible on other machines that might not share the characteristics of the machine where it was generated.

[2020-01-18 12:01] seppeljordan commented on #409
Hi, because of current limitations in requirement parsing your have to specify your requirements like so:

[code]

Let me know if that helped.

[2020-01-18 12:12] seppeljordan commented on #390
Hi, I finally got around to investigating the issue and unfortunately I cannot reproduce this issue.  I will implement an error handler to catch the JSON decode error for the next release of pypi2nix but am unable to fix it.

If you find more examples of this issue occurring, please paste it to this issue.